@import './vendor/fonts.scss';
@import "./vendor/vars";
@import "./vendor/mixins";
@import './vendor/setting.scss';


html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1700 * 10);
  }

  @include breakpoint($xxl-bp) {
    font-size: calc(100vw / 1440 * 10);
  }


  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }


  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

@font-face {
  font-family: "Cygre-Regular";
  font-weight: 400;
  src: url("../fonts/Cygre-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cygre-Bold";
  font-weight: 700;
  src: url("../fonts/Cygre-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cygre-ExtraBold";
  font-weight: 800;
  src: url("../fonts/Cygre-ExtraBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Cygre-Regular';
  src: url('../fonts/cygre-regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/cygre-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/cygre-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/cygre-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/cygre-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cygre-regular.svg#cygre-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cygre-Regular", sans-serif;
  color: var(--color1);
  font-weight: 400;
  background-color: var(--bg-main);
  font-size: 1.6rem;
  line-height: 2.1rem;
}

select {
  color: var(--color1);
  border: none;
  outline: none;
}

// включать сезонную цену
.price__title-proposal {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--grey);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.invalid {
  border-bottom: 0.1rem solid red;
}

.invalid::placeholder {
  color: red;
}

.error-form {
  background-image: url("../images/error.svg");
  background-repeat: no-repeat;
  width: 13rem;
  height: 4rem;
  color: var(--white);
  position: absolute;
  background-size: 13rem;
  padding-top: 0.5rem;
  left: 16%;
  top: -160%;
  justify-content: center;
  display: none;
  transition: opacity 0.3s ease;
  &.active {
    display: flex;
    opacity: 1;
  }
}

input {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($hh) {
    max-width: 90rem;
  }

  @include breakpoint($sm-bp) {
    max-width: 32rem;
  }
}

.wrapper__platform {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($hh) {
    max-width: 100%;
    padding-left: 5.5rem;
  }
  @include breakpoint($sm-bp) {
    max-width: 100%;
    padding-left: 1.5rem;
  }
}

h1 {
  font-family: "Cygre-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  @include breakpoint($xl-bp) {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }

  @include breakpoint($sm-bp) {}
}

h2 {
  font-family: "Cygre-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.8rem;
  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
}

h3 {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  @include breakpoint($xl-bp) {

  }

  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

button,
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  color: var(--color2);
}

.text {
  font-size: 2.4rem;
  line-height: 2.8rem;
}


.lock-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: relative;
  scrollbar-gutter: stable !important;
  overscroll-behavior-y: none !important;
}

.swiper-container {
  @include breakpoint($sm-bp) {
    width: 34rem;
    height: 15rem;
    overflow: hidden;
  }
}

.list__swiper,
.price__container {
  @include breakpoint($sm-bp) {
    overflow: hidden;
  }
}

.price__container {
  @include breakpoint($sm-bp) {
    padding-bottom: 4rem;
  }
}

.doc__swiper,
.details__swiper,
.list__swiper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  overflow: hidden;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }
  @include breakpoint($xl-bp) {
    max-width: 90rem;
  }
  @include breakpoint($sm-bp) {
    position: relative;
    max-width: 34rem;
  }
}

.cost-swiper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  overflow: hidden;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($xl-bp) {
    max-width: 90rem;
  }

  @include breakpoint($sm-bp) {
    position: relative;
    max-width: 32rem;
    height: 71rem;
  }
}


.price__wrapper,
.price__wrapper,
.aligners__wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  overflow: hidden;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }
  @include breakpoint($xl-bp) {
    max-width: 90rem;
  }
  @include breakpoint($sm-bp) {
    position: relative;
    width: calc(100vw - 1.5rem);
    padding-left: 1.5rem;
  }
}

.process__wrapper,
.braces__wrapper,
.video__wrapper,
.team__wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  overflow: hidden;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }
  @include breakpoint($sm-bp) {
    position: relative;
    width: calc(100vw - 1.5rem);
    padding-left: 1.5rem;
  }
}

.articles__slider,
.video__slider,
.implantation__slider,
.doctor-certificate__slider,
.braces__swiper,
.process__swiper,
.articles-swiper,
.video-swiper,
.team__swiper,
.reviews__slider {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  overflow: hidden;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($xl-bp) {
    max-width: 100%;
    padding-left: 5.5rem;
  }

  @include breakpoint($sm-bp) {
    position: relative;
    width: calc(100vw - 1.5rem);
    padding-left: 1.5rem;
  }
}

.price-swiper,
.list__container {
  @include breakpoint($xl-bp) {
    max-width: 90rem;
  }
  @include breakpoint($sm-bp) {
    position: relative;
    max-width: 34rem;
  }
}

.process__wrapper,
.details__wrapper {
  @include breakpoint($sm-bp) {
    padding-left: 2rem;
  }
}



.list-pagination {
  @include breakpoint($sm-bp) {
    position: absolute;
  }
}

.price-swiper {
  height: 55rem;
  @include breakpoint($xl-bp) {
    height: 100rem;
  }
  @include breakpoint($sm-bp) {
    height: 58rem;
    position: relative;
    //padding-bottom: 3rem;
  }
}

.price-swiper.aligners__price {
  @include breakpoint($xl-bp) {
    height: 60rem;
  }
}


.case-swiper {
  max-width: 114.3rem;
  height: 60rem;
  overflow: hidden;
  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }
  @include breakpoint($sm-bp) {
    position: relative;
    max-width: 34rem;
    height: 43rem;
  }
}

.about__swiper {
  width: 70rem;
  height: 42.3rem;
  overflow: hidden;
  padding-bottom: 1.5rem;
  @include breakpoint($xl-bp) {
    width: 90rem;
  }
  @include breakpoint($sm-bp) {
    width: 33rem;
    height: 40rem;
    padding-bottom: 0;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after,
.process-button-prev:after,
.process-button-next:after{
  font-size: 2rem!important;
  color: var(--color1)!important;
}


.dn--mob {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.prev img,
.next img,
.team-button-prev img,
.team-button-next img,
.video-button-next img,
.video-button-prev img,
.articles-button-next img,
.articles-button-prev img,
.reviews-button-next img,
.reviews-button-prev img,
.braces-button-next img,
.braces-button-prev img {
  width: 1.2rem;
  height: 2rem;
}

.prev,
.next,
.team-button-prev,
.team-button-next,
.video-button-prev,
.video-button-next,
.articles-button-prev,
.articles-button-next,
.reviews-button-prev,
.reviews-button-next,
.braces-button-next,
.braces-button-prev {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next.swiper-button-disabled,
.prev.swiper-button-disabled,
.team-button-prev.swiper-button-disabled,
.team-button-next.swiper-button-disabled,
.video-button-next.swiper-button-disabled,
.video-button-prev.swiper-button-disabled,
.articles-button-next.swiper-button-disabled,
.articles-button-prev.swiper-button-disabled,
.reviews-button-next.swiper-button-disabled,
.reviews-button-prev.swiper-button-disabled,
.braces-button-next.swiper-button-disabled,
.braces-button-prev.swiper-button-disabled {
  opacity: 0.2;
}

.prev,
.team-button-prev,
.video-button-prev,
.articles-button-prev,
.reviews-button-prev,
.braces-button-prev {
  transform: rotate(180deg);
}


.next:hover,
.prev:hover,
.team-button-next:hover,
.team-button-prev:hover,
.video-button-next:hover,
.video-button-prev:hover,
.articles-button-next:hover,
.articles-button-prev:hover,
.reviews-button-next:hover,
.braces-button-prev:hover,
.reviews-button-prev:hover,
.braces-button-next:hover{
  cursor: pointer;
}

.about__buttons,
.case__buttons-container,
.cost__buttons-container,
.certificate__buttons,
.process__buttons-container,
.team__buttons-container,
.video__buttons,
.articles__buttons,
.reviews__buttons-container,
.braces__buttons {
  display: flex;
  position: absolute;
  right: 0;
  gap: 2.4rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    right: 5%;
  }
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.cost__buttons-container {
  @include breakpoint($xxl_bp) {
    right: 7%;
  }
  @include breakpoint($xl-bp) {
    right: 1%;
  }
}

.certificate__buttons,
.process__buttons-container,
.team__buttons-container,
.video__buttons,
.articles__buttons,
.braces__buttons {
  top: 0;
}

.about__buttons {
  top: -5%;
}

.cost__buttons-container,
.case__buttons-container,
.reviews__buttons-container {
  bottom: 0;
}

.case__buttons-container {
  right: 5%;
  z-index: 22;
  @include breakpoint($xxl_bp) {
    right: 0;
  }
}

.accordion__title.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out 0.5s;
}

.accordion-content.active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.questions__svg svg.active  {
  stroke: #4A6169;
  transform: rotate(180deg);
}

.pagination {
  display: none;
  @include breakpoint($sm-bp) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    position: absolute;
  }
}

.pagination.cost-pagination {
  display: flex;
  position: absolute;
  left: 17%;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.pagination.cost-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color2);
}

.pagination.cost-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal

.list-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include breakpoint($sm-bp) {
    bottom: 5%;
  }
}

.video-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include breakpoint($sm-bp) {
    bottom: -2%;
  }
}

.details-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include breakpoint($sm-bp) {
    left: -3%;
  }
}

.cost-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal,
.team-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal,
.details-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal,
.articles-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal,
.braces-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal,
.process-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include breakpoint($sm-bp) {
    bottom: 0;
  }
}

.reviews-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include breakpoint($sm-bp) {
    bottom: 3%;
  }
}

.price-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include breakpoint($sm-bp) {
    bottom: -9%;
  }
}

.pagination .swiper-pagination-bullet {
  border-radius: 0;
}

.pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color1);
}

.banner__slider {
  @include breakpoint($sm-bp) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.record__wrapper {
  background-color: #0B384780;
  position: fixed;
  inset: 0;
  z-index: 56;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.closeRecord {
  margin-left: 95%;
}

.accordion__title:hover {
  cursor: pointer;
}

.img-container {
  overflow: hidden;
  border-radius: 1.2rem;

  & img {
    width: 100%;
    height: 100%;
    transition: scale 400ms;
  }

  &:hover img {
    scale: 120%;
  }
}

.icon-small {
  width: 2.4rem;
  height: 2.4rem;
}

.aligners-swiper {
  max-width: 57rem;
  overflow: hidden;
  @include breakpoint($xl-bp) {
    max-width: 90rem;
  }
  @include breakpoint($sm-bp) {
    max-width: 35rem;
    height: 38rem;
  }
}

.pagination.aligners-pagination {
  display: flex;
  position: absolute;
  justify-content: center;
}

.pagination.list-pagination {
  @include breakpoint($sm-bp) {
    align-items: flex-start;
  }
}




::-webkit-scrollbar {
  // width: 0.8rem;
  // height: 0;
  // background-color: transparent;

  @include breakpoint($sm-bp) {
    // width: 0.5rem;
  }
}


::-webkit-scrollbar-thumb {
  // background-color: var(--blue);
  // border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  // background-color: #253861;
}

// lib
@import './lib/fancybox.scss';
@import './lib/swiper.scss';

/*--------- components -------------*/



/*--------- popup -------------*/
@import './blocks/header.scss';
@import './blocks/animation.scss';
@import './blocks/menu.scss';
@import './blocks/button.scss';
@import './blocks/404.scss';
@import './blocks/success-modal.scss';
@import './blocks/calculator.scss';
@import './blocks/select-implantation.scss';

/*------header-----*/
@import './blocks/header.scss';

/*------pages------*/
@import './page/main.scss';
@import './page/contacts.scss';
@import './page/requisites.scss';
@import './page/doc.scss';
@import './page/reviews.scss';
@import './page/payment.scss';
@import './page/guarantee.scss';
@import './page/assurance.scss';
@import './page/doctors.scss';
@import './page/doctor.scss';
@import './page/portfolio.scss';
@import './page/case.scss';
@import './page/about.scss';
@import './page/cost.scss';
@import './page/question-answer.scss';
@import './page/blog.scss';
@import './page/entry.scss';
@import './page/aligners.scss';
@import './page/implantation.scss';
@import './page/operation.scss';
@import './page/articulation.scss';
@import './page/inf-services.scss';
@import './page/online.scss';

/*------footer-----*/
@import './blocks/footer.scss';