.error {
  overflow: hidden;
  padding: 2rem;
  z-index: 1000;
  gap: 4rem;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error h1 {
  font-size: 10rem;
  @include breakpoint($xl-bp) {
    font-size: 5rem;
  }
}

.error p {
  text-align: center;
}