.button {
  padding: 2rem  4.8rem;
  border-radius: 1.2rem;
  background-color: var(--color2);
  color: var(--color1);
  text-align: center;
  font-weight: 700;
  @include breakpoint($sm-bp) {
    padding: 1.6rem  4.8rem;
  }
}

.button__bg-dark {
  background-color: var(--color1);
  color: var(--white);
  text-align: left;
  padding: 2rem;
}

.button--light {
  background-color: var(--white);
  text-align: center;
  font-weight: 700;
  padding: 2rem  4.8rem;
  border-radius: 1.2rem;
  border: 1px solid var(--color2);
}

.button--light:hover {
  cursor: pointer;
  background-color: var(--color2);
  color: var(--color1);
}

.button:hover {
  cursor: pointer;
  background-color: var(--color1);
  color: var(--color2);
}

.button-slider__item {
  padding: 1.6rem 3rem;
  @include breakpoint($sm-bp) {
    margin-top: 4rem;
  }
}

.button-standards {
  padding: 0.8rem 2rem;
  font-weight: 400;
  @include breakpoint($sm-bp) {
    padding: 0.8rem 1rem;
  }
}

