.calculator,
.calculator__price {
  padding: 4rem;
  border-radius: 1.2rem;
  background-color: #fff;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}


.calculator-implantation,
.calculator {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 56, 71, 0.4);
    z-index: -1;
    border-radius: 1.2rem;
  }

  &.active::before {
    z-index: 3;
  }
}

.calculator-implantation__price,
.calculator__price {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 1s ease-in-out, display 0s 2s;
  &.active {
    display: flex;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

.choices__item--disabled {
  opacity: 1;
  color: inherit;
}

.calculator .form {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include breakpoint($sm-bp) {
    gap: 2.4rem;
  }

  & .calculator__buttons {
    margin: 0;
    & .button__disabled {
      font-weight: 700;
      @include breakpoint($sm-bp) {
        margin-top: 1.6rem;
      }
    }

    & .button {
      @include breakpoint($sm-bp) {
        margin-top: 1.6rem;
      }
    }
  }
}

.block-desc {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
    padding-right: 0.5rem;
  }
}

.choices__list--dropdown .block-desc {
  display: none;
}

form span.block-desc {
  @include breakpoint($sm-bp) {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.calculator__num {
  font-weight: 700;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--color1);
  background: var(--bg-grey);
  @include breakpoint($sm-bp) {
    display: none;
  }

  &.active {
    background-color: var(--color1);
    color: var(--white);
  }
}

.calculator__line {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.choices {
  margin-bottom: 0;
  width: 100%;
}

.choices__placeholder {
  opacity: 1;
}

.calculator__line--placeholder .choices__item.choices__item--selectable:not(.choices__placeholder)[aria-selected="true"] {
  font-weight: 700;
}

.active-text {
  font-weight: 700;
  color: var(--color1);
}

.choices[data-type*=select-one]:after {
  width: 1rem;
  height: 1rem;
  top: 40%;
  border: 0.2rem solid var(--color1);
  border-width: 0 0 0.2rem 0.2rem;
  transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 0.2rem solid var(--color1);
  border-width:  0.2rem 0.2rem 0 0;
}

.choices__inner {
  border: 0;
  padding: 0.8rem 1.6rem 1.1rem 1.6rem;
  background: var(--bg-grey);
  border-radius: 0.6rem;
  width: 100%;
  color: var(--color1);
  font-size: 1.6rem;
  min-height: auto;
  @include breakpoint($sm-bp) {
    white-space: nowrap;
    overflow: hidden;
  }

}

.choices__list--single {
  font-weight: 400;
}

.choices__list.choices__list--dropdown {
  border: 0;
  border-radius: 0.6rem;
  background-color: var(--bg-grey);
  margin-top: -2%;
  z-index: 3;
}

.choices__list--dropdown .choices__list {
  padding-left: 1.1rem;
  padding-top: 1rem;
}

.choices__item.choices__item--selectable {
  color: var(--color1);
  font-weight: 400;
  background-color: transparent;
  transition: font-weight 0.3s ease;
  @include breakpoint($sm-bp) {
    display: flex;
    gap: 0.2rem;
    font-weight: 700;
    max-width: 99%;
    overflow: hidden;
  }
}

.choices__item.choices__item--selectable:hover {
  font-weight: 700;
  font-family: "Cygre-Bold", sans-serif;
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
  color: var(--color1);
}


.choices__list--dropdown .choices__item[data-value=""] {
  display: none;
}

.calculator__inf-right {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  align-items: start;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}

.calculator__right-bottom {
  border-radius: 1.2rem;
  background-color: #fff;
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    background-color: transparent;
  }
}

.icon-button {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  @include breakpoint($sm-bp) {
    flex-shrink: 0;
  }
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:hover .icon-button__bg {
  display: block;
  //@include breakpoint($sm-bp) {
  //  display: none;
  //}
}

form span.icon-button__bg {
  background-color: var(--color1);
  border-radius: 1.2rem;
  padding: 1.2rem ;
  color: var(--white);
  position: absolute;
  font-size: 1.6rem;
  line-height: 2rem;
  width: 35rem;
  height: 10.8rem;
  display: none;
  text-align: left;
  z-index: 3;
  transform: translate(-55%, -118%);
  pointer-events: none;
  &.active {
    display: block;
  }
  @include breakpoint($sm-bp) {
    width: 25.8rem;
    height: 12.9rem;
    transform: translate(-106%, -80%);
    pointer-events: auto;
  }
}

form span.icon-button__bg.bg-icon__middle {
  position: absolute;
  font-size: 1.6rem;
  line-height: 2rem;
  width: 25.8rem;
  height: 8.7rem;
  transform: translate(-41.5%, -121%);
  @include breakpoint($sm-bp) {
    transform: translate(-106%, -70%);
  }

}

form span.icon-button__bg.bg-icon__buttom {

  position: absolute;
  font-size: 1.6rem;
  line-height: 2rem;
  width: 37.4rem;
  height: 8.7rem;
  transform: translate(-26.5%, 50%);
  @include breakpoint($sm-bp) {
    transform: translate(-106%, -79%);
    width: 25.8rem;
    height: 12.9rem;
  }
}

form span.icon-button__bg.bg-icon__level {
  color: var(--white);
  padding: 1.2rem;
  position: absolute;
  font-size: 1.6rem;
  line-height: 2rem;
  width: 25.8rem;
  height: 8.7rem;
  @include breakpoint($sm-bp) {
    transform: translate(-106%, -70%);
  }
}

.calculator-implantation__line1--radio,
.calculator__line1--radio {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 2.6rem;
  align-items: center;
}

.calculator-implantation__line1--radio {
  @include breakpoint($sm-bp) {
    align-items: flex-end;
    gap: 0;
    display: flex;
    justify-content: space-between;
  }

  & .checkbox-custom-label {
    @include breakpoint($sm-bp) {
      padding-top: 1rem;
    }
  }
}

.calculator-implantation__line1--radio,
.calculator__line1--radio {
  @include breakpoint($sm-bp) {
    align-items: flex-start;
    gap: 0;
    display: flex;
    justify-content: space-between;
  }
}

.calculator__lines--radio {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @include breakpoint($sm-bp) {
    gap: 2rem;
  }
}

.calculator__line--radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  & .line {
    position: absolute;
    top: 27%;
    color: var(--grey);
    z-index: 1;
  }
}

.calculator--radio,
.calculator__miniprop--radio {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  align-items: center;
  color: var(--color1);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  position: relative;
  z-index: 2;
}

.calculator--radio {
  &:first-child {
    align-items: flex-start;
  }

  &:nth-last-child(2) {
    align-items: flex-end;
  }
}

.radio {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  border: 1px solid var(--grey);
  background-color: var(--bg-grey);
  cursor: pointer;
}

.checkbox-custom:checked + .radio {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../images/chekbox.svg);
  background-size: cover;
  background-position: center;
}

.calculator__subtitle-line,
.active-text {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  color: var(--color1);
}

.calculator__subtitle-line {
  @include breakpoint($sm-bp) {
    display: flex;
    gap: 0.3rem;
  }
}

.calculator__line--bottom {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  & .calculator__line1--radio {
    grid-template-rows: 2.4rem ;
    @include breakpoint($sm-bp) {
      grid-template-rows: auto;
    }
  }
  & .calculator-implantation__line1--radio {
    grid-template-rows: 2.4rem ;
    @include breakpoint($sm-bp) {
      grid-template-rows: auto;
    }
  }
}

.calculator__buttons {
  display: flex;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    gap: 2rem;
  }
}

.calculator-implantation__reset,
.calculator__reset {
  color: var(--grey);
  &.active {
    color: var(--color1);
  }
  @include breakpoint($sm-bp) {
    align-self: flex-end;
  }
}

.calculator__price h3 {
  margin-bottom: 2.4rem;
  @include breakpoint($sm-bp) {
    font-size: 2.4rem;
    line-height: 3.1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.calculator__sum h3 {
  @include breakpoint($sm-bp) {
    margin-bottom: 0;
  }
}

.calculator__price-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: flex-start;
  @include breakpoint($sm-bp) {
    gap: 0;
  }
}

.calculator-item--line {
  padding: 1.6rem 0 2.4rem;
  border-bottom: 0.1rem dotted var(--grey);
}

.calculator__list-item {
  padding: 1.6rem 0 2.4rem;
  border-bottom: 0.1rem dotted var(--grey);
  display: flex;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    padding: 1.6rem 0 1.2rem;
    align-items: center;
  }
}

.calculator-item {
  display: flex;
  gap: 1.6rem;
  @include breakpoint($sm-bp) {
    align-items: center;
  }
}

.calculator-item .calculator__subtitle-line {
  @include breakpoint($sm-bp) {
    white-space: nowrap;
  }
}

.calculator__sum {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    margin-top: 2rem;
  }
}

button.calculator__price-button {
  padding: 1.6rem 4.8rem 2rem 4.8rem;
  align-self: center;
  @include breakpoint($sm-bp) {
    display: none;
  }
}

button.calculator__price-button.button__mob {
  display: none;
  &.active {
    @include breakpoint($sm-bp) {
      display: block;
      padding: 2rem 4.2rem;
      margin-top: 0.4rem;
    }
  }
}

.color-grey {
  color: var(--grey);
}

.border-choices {
  @include breakpoint($sm-bp) {
    border: 0.15rem solid var(--color1);
    border-radius: 0.6rem;
  }
}

.calculator__subtitle-line.checkbox-custom-label:before {
  @include breakpoint($sm-bp) {
    width: 2.4rem;
    height: 2.4rem;
    top: 18%;
  }
}

.calculator-implantation__line1--radio .checkbox-custom:checked+.calculator__subtitle-line.checkbox-custom-label:before,
.calculator__line1--radio .checkbox-custom:checked+.calculator__subtitle-line.checkbox-custom-label:before {
  @include breakpoint($sm-bp) {
    width: 2.4rem;
    height: 2.4rem;
    top: 18%;
  }
}

.calculator__subtitle-line.checkbox-custom-label {
  @include breakpoint($sm-bp) {
    padding-left: 3.5rem;
    max-width: 87%;
  }
}

#treatment ~ .checkbox-custom-label {
  @include breakpoint($sm-bp) {
    padding-top: 3.5%;
  }
}