.footer {
  background-color: var(--white);
  background-image: url(../images/bg-grey.svg);
  background-repeat: no-repeat;
  background-position: 101% 101%;
  border-radius: 1.2rem;
  padding: 3.7rem 13.7rem 3.7rem;
  background-size: 76rem;
  margin-bottom: 2.7rem;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
    background-size: 32rem;
    margin-bottom: 3.2rem;
  }

  @include breakpoint($sm-bp) {
    padding: 1.2rem 1.2rem 0 1.2rem;
    background-size: 36.1rem;
    background-position: 48% 100.2%;
  }
}

.footer h2 {
  text-align: center;
  margin-bottom: 5.6rem;
  @include breakpoint($xl-bp) {
    margin-bottom: 2.4rem;
  }
}

.footer__top {
  display: flex;
  gap: 8.4rem;
  justify-content: space-between;
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 7.2rem;
  }
}

.footer__desc {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.footer__mob {
  display: none;
  @include breakpoint($xl-bp) {
    width: 100%;
    display: block;
    margin-top: 2.4rem;
  }
}

.footer__top-left {
  border-radius: 1.2rem;
}

.wrapper-map {
  width: 53rem;
  height: 43rem;
  @include breakpoint($xl-bp) {
    width: 30rem;
    height: 22rem;
  }
}

.footer__top-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__item-title {
  font-weight: 700;
}

.footer__icon {
  display: flex;
  gap: 2.1rem;
  @include breakpoint($xl-bp) {
    gap: 1.6rem;
  }
}

.footer__contact {
  display: flex;
  gap: 2.1rem;
  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.footer__contact .border {
  @include breakpoint($xl-bp) {
    background-color: var(--color2);
  }
}

.footer__item-title:first-child {
  padding-bottom: 0.8rem;
}

.pb {
  padding-bottom: 1.8rem;
}

.footer__list {
  margin: 0 auto 5.6rem;
  @include breakpoint($xl-bp) {
    margin: 0 auto 7.2rem;
  }
}

.footer__bottom-list {
  margin-left: 11rem;
  gap: 4rem;
  @include breakpoint($xxl-bp) {
    margin-left: 12rem;
  }
  @include breakpoint($xl-bp) {
    margin: 0 2rem;
    flex-wrap: wrap;
    gap: 2.4rem;
  }
  @include breakpoint($sm-bp) {
    margin: 0;
  }
}

.footer__menu {
  display: flex;
  gap: 4.5rem;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    gap: 2.4rem;
  }
}

.footer__menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.5rem;
  row-gap: 2.2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}

.footer__linc {
  display: flex;
  justify-content: space-between;
  margin: 4.4rem 0;
  @include breakpoint($xl-bp) {
    margin: 2.4rem 0;
    flex-direction: column;
    gap: 2.4rem;
  }
}

.linc {
  position: relative;
}

.linc:hover {
  color: var(--color2);
}

.linc::before {
  position: absolute;
  content: '';
  height: 0.1rem;
  bottom: -0.2rem;
  background: var(--color1);
  width: 100%;
}

.linc:hover::before {
  background: var(--color2);
}

.footer__linc-personal {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer__linc-personal div a:hover {
  color: var(--color2);
}

.footer__bottom-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 60%;
  @include breakpoint($xl-bp) {
    max-width: 100%;
  }
}