.header {
  padding: 2.4rem 1rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @include breakpoint($xl-bp) {
    padding: 3.2rem 0 2.4rem;
  }
}

.logo {
  width: 13.8rem;
  height: 3.8rem;
  @include breakpoint($xl-bp) {
    width: 8.7rem;
    height: 2.4rem;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.header__logo-container div:not(:first-child) {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.border {
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  border: 1px solid var(--color2);
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

.border a {
  white-space: nowrap;
}

.border:hover {
  cursor: pointer;
  background-color: var(--color2);
  color: var(--color1);
}

.border:hover a {
  color: var(--color1);
}

.menu {
  display: flex;
  gap: 4rem;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.menu li a {
  position: relative;
}

.menu li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color2);
  transition: width 0.3s ease;
}

.menu li a:hover::before {
  width: 100%;
}


.header__nav {
  display: flex;
  gap: 5.5rem;
  align-items: center;
}

.header__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.2rem;
  height: 2.4rem;
}

.header__burger span {
  background-color: var(--color1);
  width: 100%;
  height: 0.5rem;
  border-radius: 1.2rem;
}

.header__burger:hover > span {
  cursor: pointer;
  background-color: var(--green);
}

.header__location {
  display: flex;
  gap: 1.6rem;
}

.header__location:hover {
  cursor: pointer;
  color: black;
}

.header__location div {
  width: 4rem;
  height: 4rem;
}

.list-active {
  font-weight: 700;
}

.footer__bottom-list li:hover a,
.header__bottom-list li:hover a {
  color: black;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom-list,
.header__bottom-list {
  display: flex;
  gap: 4.5rem;
  align-items: center;
}

.hide {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.hide-desc {
  display: none;
  @include breakpoint($xl-bp) {
    display: block;
  }
}

.button.hide-desc,
.line.hide-desc,
.menu-mob.hide-desc {
  display: none;
  @include breakpoint($xl-bp) {
    display: block;
  }
}

.menu-mob.hide-desc {
  display: none;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}

.tel-icon {
  display: none;
  @include breakpoint($xl-bp) {
    display: block;
  }
}

.header-line {
  margin: 2.4rem 0;
}
