.menu__wrapper {
  background-color: #0B384780;
  position: fixed;
  inset: 0;
  z-index: 55;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  @include breakpoint($sm-bp) {
    overflow: scroll;
  }
}

.menu__wrapper.active {
  opacity: 1;
  visibility: visible;
}

.menu__content {
  transform: translateX(200%);
  opacity: 0;
  padding: 2rem 2rem 5.6rem 4rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  position: absolute;
  top: 0;
  right: 17%;
  margin-top: 1.9rem;
  margin-right: 1.9rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease, opacity 0.3s ease;

  @include breakpoint($cos-bp) {
    right: 13%;
  }

  @include breakpoint($xxl-bp) {
    right: 3%;
  }
  @include breakpoint($xl-bp) {
    right: 3%;
  }
  @include breakpoint($sm-bp) {
    margin: 2.5rem 1rem;
    right: 0;
    padding: 2.4rem;
    position: relative;
  }
}

.menu__content.active {
  transform: translateX(0);
  opacity: 1;
}


.menu__content .close {
  @include breakpoint($sm-bp) {
    position: absolute;
  }
}

.close {
  stroke: #8E8E8E;
  width: 2.4rem;
  height: 2.4rem;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  @include breakpoint($sm-bp) {
    width: 2rem;
    height: 2rem;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 9.7rem;
  padding-right: 9.7rem;
  @include breakpoint($sm-bp) {
    gap: 1.2rem;
    margin-bottom: 2.4rem;
  }
}

.menu__social-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
  }
}

.menu__content .close {
  align-self: flex-end;
}

.menu__social {
  display: flex;
  gap: 2.4rem;
}

.menu__social div {
  width: 4rem;
  height: 4rem;
}

.menu__list li a:hover {
  color: var(--color2);
}

.menu__social a {
  transition: transform 0.3s ease;
}

.menu__social a:hover {
  transform: scale(1.1);
}