<div class="calculator__container" id="calculator">
    <h2 class="team__title element-animation-opacity">Калькулятор стоимости ортодонтиии</h2>
    <p class="calculator__subtitle">Здесь можно рассчитать стоимость лечения в Orteam, в зависимости от срока и тарифного плана.</p>
    <div class="calculator__inf">
        <div class="calculator">
            <form class="form">
                <div>
                    <div class="calculator__line calculator__line--placeholder">
                        <div class="calculator__num">
                            1
                        </div>
                        <select name="calculator" class="js-choice">
                            <option value="" class="placeholder"><span class="block-desc">1.</span> Выберите тарифный план</option>
                            <option value="2">All-in</option>
                            <option value="3">Первый класс</option>
                            <option value="4">Второй класс</option>
                            <option value="5">Low cost</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="calculator__line">
                        <div class="calculator__num">
                            2
                        </div>
                        <select name="calculatorType" class="js-choice2">
                            <option value="" class="placeholder"><span class="block-desc">2.</span>Выберите тип брекетов</option>
                            <option value=""><em>Выберите тарифный план</em></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="calculator__lines--radio">
                        <div class="calculator__line1--radio">
                            <div class="calculator__num">
                                3
                            </div>
                            <div class="calculator__subtitle-line">
                                <span class="block-desc">3.</span> Срок лечения
                            </div>
                            <div class="icon-button openText">
                                <span class="icon-button__bg">Зависит от сложности, тактики и квалификации врача. В среднем — 2 года. Срок фиксируем: не уложимся, долечим бесплатно!</span>
                                <img src="assets/images/icon-button.svg" alt="">
                            </div>
                        </div>
                        <div class="calculator__line--radio">
                            <div class="calculator--radio">
                                <input id="1" class="checkbox-custom customClick" name="years" type="radio" value="1">
                                <label for="1" class="radio"></label>
                                <div class="years__num">1 год</div>
                            </div>
                            <div class="calculator--radio">
                                <input id="1.5" class="checkbox-custom customClick" name="years" type="radio" value="1.5">
                                <label for="1.5" class="radio"></label>
                                <div class="years__num">1,5 года</div>
                            </div>
                            <div class="calculator--radio">
                                <input id="2" class="checkbox-custom customClick" name="years" type="radio" value="2">
                                <label for="2" class="radio"></label>
                                <div class="years__num">2 года</div>
                            </div>
                            <div class="calculator--radio">
                                <input id="2.5" class="checkbox-custom customClick" name="years" type="radio" value="2.5">
                                <label for="2.5" class="radio"></label>
                                <div class="years__num">2,5 года</div>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="calculator__lines--radio">
                        <div class="calculator__line1--radio">
                            <div class="calculator__num">
                                4
                            </div>
                            <div class="calculator__subtitle-line">
                                <span class="block-desc">4.</span> Количество минивинтов
                            </div>
                            <div class="icon-button openText">
                                <span class="icon-button__bg bg-icon__middle">Дополнительный опорный элемент в брекет-системе. Требуется в 40% случаев.</span>
                                <img src="assets/images/icon-button.svg" alt="">
                            </div>
                        </div>
                        <div class="calculator__line--radio">
                            <div class="calculator__miniprop--radio">
                                <input id="miniprop0" class="checkbox-custom customClick2" name="miniprop" type="radio" value="1">
                                <label for="miniprop0" class="radio"></label>
                                <div class="miniprop__num">0</div>
                            </div>
                            <div class="calculator__miniprop--radio">
                                <input id="miniprop1" class="checkbox-custom customClick2" name="miniprop" type="radio" value="1.5">

                                <label for="miniprop1" class="radio"></label>
                                <div class="miniprop__num">1</div>
                            </div>
                            <div class="calculator__miniprop--radio">
                                <input id="miniprop2" class="checkbox-custom customClick2" name="miniprop" type="radio" value="2">
                                <label for="miniprop2" class="radio"></label>
                                <div class="miniprop__num">2</div>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="calculator__line--bottom">
                    <div class="calculator__line1--radio">
                        <input id="operation" class="checkbox-custom" name="operatione" type="checkbox">
                        <label for="operation" class="checkbox-custom-label calculator__subtitle-line">Требуется ортогнатическая операция</label>
                        <div class="icon-button openText">
                            <span class="icon-button__bg bg-icon__level">Проводится для коррекции скелетных аномалий при согласии пациента.</span>
                            <img src="assets/images/icon-button.svg" alt="">
                        </div>
                    </div>
                    <div class="calculator__line1--radio">
                        <input id="treatment" class="checkbox-custom" name="treatment" type="checkbox">
                        <label for="treatment" class="checkbox-custom-label calculator__subtitle-line">Лечение на одной челюсти</label>
                        <div class="icon-button openText">
                            <span class="icon-button__bg bg-icon__buttom">В 95% случаев лечение проводится на 2 челюстях. За исключением локальных перемещений отдельных зубов.</span>
                            <img src="assets/images/icon-button.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="calculator__buttons">
                    <button class="button__disabled calculator__button moveCost" type="button">Рассчитать стоимость</button>
                    <button class="calculator__reset" type="reset">Сбросить все</button>
                </div>

            </form>
        </div>
        <div class="calculator__price">
            <div>
                <h3>Итоговая стоимость лечения</h3>
                <div class="calculator__price-list">
                    <div class="calculator__list-item">
                        <div class="calculator-item">
                            <div class="calculator__subtitle-line">Тарифный план:</div>
                            <div class="innerText"></div>
                        </div>
                        <div class="calculator__subtitle-line calculator__subtitle-line">x1</div>
                    </div>
                    <div class="calculator__list-item">
                        <div class="calculator-item">
                            <div class="calculator__subtitle-line">Тип брекетов:</div>
                            <div class="innerType"></div>
                        </div>
                        <div class="calculator__subtitle-line calculator__subtitle-line">x1</div>
                    </div>
                    <div class="calculator-item calculator-item--line">
                        <div class="calculator__subtitle-line">Срок лечения:</div>
                        <div class="innerYears"></div>
                    </div>
                    <div class="calculator__list-item">
                        <div class="calculator-item">
                            <div class="calculator__subtitle-line">Установка минивинтов</div>
                        </div>
                        <div class="calculator__subtitle-line calculator__subtitle-line">x<span class="innerMiniprop"></span></div>
                    </div>
                    <div class="calculator__list-item">
                        <div class="calculator-item">
                            <div class="calculator__subtitle-line">Ортогнатическая операция</div>
                        </div>
                        <div class="calculator__subtitle-line calculator__subtitle-line">x<span class="innerOperation">0</span></div>
                    </div>
                    <div class="calculator__list-item">
                        <div class="calculator-item">
                            <div class="calculator__subtitle-line">Лечение челюсти</div>
                        </div>
                        <div class="calculator__subtitle-line calculator__subtitle-line">x<span class="innerTreatment">1</span></div>
                    </div>
                </div>
                <div class="calculator__sum">
                    <h3>Итого:</h3>
                    <h3 class="total-output"></h3>
                </div>
            </div>
            <button class="button calculator__price-button openModal" type="button">Записаться на  бесплатную консультацию</button>

        </div>

    </div>
    <div class="calculator__inf-right">
        <div class="calculator__right-top">
            <div class="calculator__top-item">
                <div class="calculator__top-num">
                    01
                </div>
                <div class="calculator__top-text">
                    Одномоментная или поэтапная оплата
                </div>
            </div>
            <div class="calculator__top-item">
                <div class="calculator__top-num">
                    02
                </div>
                <div class="calculator__top-text">
                    Рассрочки без первого взноса от 7 банков
                </div>
            </div>
            <div class="calculator__top-item">
                <div class="calculator__top-num">
                    03
                </div>
                <div class="calculator__top-text">
                    Экономьте! Реферальная программа и специальные условия
                </div>
            </div>
            <div class="calculator__top-item">
                <div class="calculator__top-num">
                    04
                </div>
                <div class="calculator__top-text">
                    Поможем вернуть 13%
                </div>
            </div>
        </div>
        <div class="calculator__right-bottom">
            <p>План лечения и квалификация врача существенно влияет на продолжительность и результаты лечения.
            </p>
            <p>Расчёт на сайте проведён с использованием актуальных цен и включает все основные этапы и манипуляции. Но является предварительным, так как окончательная стоимость зависит от длительности лечения, которая окончательно определяется после составления плана лечения в Orteam. </p>
            <p>
                Не является публичной офертой.</p>
        </div>
    </div>
</div>