<div class="calculator__container" id="calculator-implantation">
  <h2 class="team__title element-animation-opacity">Калькулятор стоимости имплантации</h2>
  <p class="calculator__subtitle">Данный калькулятор предназначен для сравнения полной стоимости восполнения зуба, если вы уже были на консультациях.
    <br><br>Если ещё не были, записывайтесь на бесплатную консультацию на которой мы составим полный план лечения и подберём для вас оптимальную имплантационную платформу.</p>
  <div class="calculator__inf-implantation">
    <div class="calculator-implantation">
      <form class="form">
        <div>
          <div class="calculator__line calculator__line-implantation calculator__line--placeholder">
            <div class="calculator__num">
              1
            </div>
            <select name="calculator-implantation__type" class="js-choice__implantation1">
              <option value="" class="placeholder">Выберите тип импланта</option>
              <option value="neodent">Neodent Швейцария-Бразилия</option>
              <option value="inno">Inno Юж.Корея</option>
              <option value="straumann">Straumann Швейцария</option>
            </select>
            <div class="icon-button openText">
              <span class="icon-button__bg icon1">Мы используем только качественные и проверенные имплантационные системы.</span>
              <img src="assets/images/icon-button.svg" alt="">
            </div>
          </div>
        </div>
        <div>
          <div class="calculator__line calculator__line-implantation calculator__line--placeholder">
            <div class="calculator__num">
              2
            </div>
            <select name="calculator-implantation__plastic" class="js-choice__implantation2">
              <option value="" class="placeholder">Костная пластика</option>
              <option value="neither">не требуется</option>
              <option value="close">закрытый синус-лифитинг</option>
              <option value="open">открытый синус лифтинг</option>
            </select>
            <div class="icon-button openText">
              <span class="icon-button__bg icon2 openText">Необходима при недостатке объёма кости для установки имплантата. Если она вам потребуется, предупредим на консультации.</span>
              <img src="assets/images/icon-button.svg" alt="">
            </div>
          </div>
        </div>
        <div>
          <div class="calculator__line calculator__line-implantation calculator__line--placeholder">
            <div class="calculator__num">
              3
            </div>
            <select name="calculator-crown" class="js-choice__implantation3">
              <option value="" class="placeholder">Постоянная коронка</option>
              <option value="zirconium">Диоксид циркония, включая абатмент</option>
            </select>
            <div class="icon-button openText">
              <span class="icon-button__bg  icon3 openText">Коронки из диоксида циркония самые прочные, эстетичные и единственные, к которым прирастает десна, как к настоящему зубу.</span>
              <img src="assets/images/icon-button.svg" alt="">
            </div>
          </div>
        </div>
        <div class="calculator__line--bottom">
          <div class="calculator__line1--radio">
            <input id="plasticCheckbox" class="checkbox-custom" name="plastic" type="checkbox">
            <label for="plasticCheckbox" class="checkbox-custom-label calculator__subtitle-line">Мягкотканная пластика</label>
            <div class="icon-button openText">
              <span class="icon-button__bg icon4">Может потребоваться при недостаточной толщине десны в области имплантации. От прилегания десны зависит срок службы имплантата.</span>
              <img src="assets/images/icon-button.svg" alt="">
            </div>
          </div>
          <div class="calculator__line1--radio">
            <input id="temporaryCheckbox" class="checkbox-custom" name="treatment" type="checkbox">
            <label for="temporaryCheckbox" class="checkbox-custom-label calculator__subtitle-line">Временная коронка</label>
            <div class="icon-button openText">
              <span class="icon-button__bg icon5">Устанавливается на срок от 1 месяца до 2 лет. Необходима для правильного формирования десны в области имплантата и на время ортодонтического лечения.</span>
              <img src="assets/images/icon-button.svg" alt="">
            </div>
          </div>
        </div>

        <div class="calculator__buttons">
          <button class="button__disabled calculator-implantation__button moveCostImplantation" type="button">Рассчитать стоимость</button>
          <button class="calculator-implantation__reset" type="reset">Сбросить все</button>
        </div>

      </form>
    </div>
    <div class="calculator-implantation__price">
      <div>
        <h3>Итоговая стоимость лечения</h3>
        <div class="calculator__price-list">
          <div class="calculator__list-item">
            <div class="calculator-item">
              <div class="calculator__subtitle-line">Тип импланта:</div>
              <div class="innerTextType"></div>
            </div>
            <div class="calculator__subtitle-line calculator__subtitle-line">x1</div>
          </div>
          <div class="calculator__list-item">
            <div class="calculator-item">
              <div class="calculator__subtitle-line">Костная пластика:</div>
              <div class="innerPlastic"></div>
            </div>
            <div class="calculator__subtitle-line calculator__subtitle-line">x1</div>
          </div>
          <div class="calculator__list-item">
            <div class="calculator-item">
              <div class="calculator__subtitle-line">Постоянная коронка:</div>
              <div class="innerCrown"></div>
            </div>
            <div class="calculator__subtitle-line calculator__subtitle-line">x1</div>
          </div>

        </div>
        <div class="calculator__sum">
          <h3>Итого:</h3>
          <h3 class="total-implantation"></h3>
        </div>
      </div>
      <button class="button calculator__price-button openModal" type="button">Записаться на  бесплатную консультацию</button>

    </div>
    <button class="button calculator__price-button button__mob openModal" type="button">Записаться на консультацию</button>
  </div>
  <div class="calculator__inf-right calculator-implantation__inf-right">
    <div class="calculator__right-top">
      <div class="calculator__top-item">
        <div class="calculator__top-num">
          01
        </div>
        <div class="calculator__top-text">
          Одномоментная или поэтапная оплата
        </div>
      </div>
      <div class="calculator__top-item">
        <div class="calculator__top-num">
          02
        </div>
        <div class="calculator__top-text">
          Рассрочки без первого взноса от 7 банков
        </div>
      </div>
      <div class="calculator__top-item">
        <div class="calculator__top-num">
          03
        </div>
        <div class="calculator__top-text">
          Экономьте! Реферальная программа и специальные условия
        </div>
      </div>
      <div class="calculator__top-item">
        <div class="calculator__top-num">
          04
        </div>
        <div class="calculator__top-text">
          Поможем вернуть 13%
        </div>
      </div>
    </div>
    <div class="calculator__right-bottom">
      <p>План лечения и квалификация врача существенно влияет на продолжительность и результаты лечения.
      </p>
      <p>Расчёт на сайте проведён с использованием актуальных цен и включает все основные этапы и манипуляции. Но является предварительным, так как окончательная стоимость зависит от длительности лечения, которая окончательно определяется после составления плана лечения в Orteam. </p>
      <p>
        Не является публичной офертой.</p>
    </div>
  </div>
</div>