<footer class="footer wrapper">
    <h2>Как нас найти</h2>
    <div class="footer__top">
        <div class="footer__top-right">
            <div class="footer__top-content">
                <div class="header__location">
                    <div>
                        <img src="assets/images/location.svg" alt="icon">
                    </div>
                    <p>
                        Санкт‑Петербург,<br>
                        ул. Манчестерская, д. 6
                    </p>
                </div>
                <div class="footer__top-item">
                    <div class="footer__item-title">График работы</div>
                    <div>
                        Пн-Вс с 10:00 до 21:00
                    </div>
                </div>
                <div class="footer__top-item">
                    <div class="footer__item-title pb">Связаться с нами</div>
                    <div class="footer__contact">
                        <div class="footer__icon">
                            <a href="#" class="icon">
                                <div>
                                    <img src="assets/images/wt.svg" alt="icon">
                                </div>
                            </a>
                            <a href="#" class="icon">
                                <div>
                                    <img src="assets/images/tl.svg" alt="icon">
                                </div>
                            </a>
                        </div>
                        <div class="border">
                            <a href="tel:+7 999 025-50-50">+7 999 025-50-50</a>
                        </div>
                    </div>
                </div>
                <div class="footer__top-item">
                    <div class="footer__item-title pb">Мы в соцсетях</div>
                    <div class="footer__contact">
                        <div class="footer__icon">
                            <a href="#" class="icon">
                                <div>
                                    <img src="assets/images/vk.svg" alt="icon">
                                </div>
                            </a>
                            <a href="#" class="icon">
                                <div>
                                    <img src="assets/images/yot.svg" alt="icon">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button footer__desc">Хочу на консультацию</button>
        </div>
        <div class="footer__top-left">
            <div class='wrapper-map'>
                <div id="YMapsID" style="width:100%;height:100%;"></div>
            </div>
            <button class="button footer__mob openModal">Хочу на консультацию</button>
        </div>
    </div>
    <div class="footer__list">
        <ul class="footer__bottom-list">
            <li>
                <a href="#" class="list-active">Брекеты</a>
            </li>
            <li>
                <a href="#">Элайнеры</a>
            </li>
            <li>
                <a href="#">ВНЧС</a>
            </li>
            <li>
                <a href="#">Имплантация и протезирование</a>
            </li>
            <li>
                <a href="#">Ортогнатическая хирургия</a>
            </li>
        </ul>
    </div>
    <div class="footer__menu">
        <div class="logo">
            <img src="assets/images/logo.svg" alt="logo">
        </div>
        <div>
            <ul class="footer__menu__list">
                <li>
                    <a href="#">
                        О клинике
                    </a>
                </li>
                <li>
                    <a href="#">
                        Гарантии
                    </a>
                </li>
                <li>
                    <a href="#">
                        Онлайн-консультация
                    </a>
                </li>
                <li>
                    <a href="#">
                        Отзывы
                    </a>
                </li>
                <li>
                    <a href="#">
                        Лицензии и документы
                    </a>
                </li>
                <li>
                    <a href="#">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__linc">
        <div>
            <a href="" class="linc">Политика конфидициальности</a>
        </div>
        <div>
            <a href="" class="linc">Подписаться на рассылку</a>
        </div>
        <div class="footer__linc-personal">
            <div>
                Для пациентов: <a href="mailto:proxiclinic@mail.ru">proxiclinic@mail.ru</a>
            </div>
            <div>
                По вопросам сотрудничества: <a href="mailto:proxiclinic06@yandex.ru">proxiclinic06@yandex.ru</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom-text">
        <p>Сайт не предоставляет оферту. Его содержание носит информационный характер в соответствии со статьёй 437 Гражданского кодекса Российской Федерации.</p>
        <p>Возрастное ограничение 18+. Здесь содержатся информация, имеющая противопоказания. Рекомендуется получить консультацию перед использованием.</p>
    </div>
</footer>