<header class="header wrapper">
    <div class="header__top">
        <div class="header__logo-container">
            <div class="logo">
                <img src="assets/images/logo.svg" alt="logo">
            </div>
            <div class="border">
                <a href="tel:+7 999 025-50-50">+7 999 025-50-50</a>
            </div>
            <div>
                Пн-Вс с 10:00 до 21:00
            </div>
        </div>
        <div class="header__nav">
            <ul class="menu">
                <li>
                    <a href="cost.html">
                        Цены
                    </a>
                </li>
                <li>
                    <a href="doctors.html">
                        Команда
                    </a>
                </li>
                <li>
                    <a href="portfolio.html">
                        Кейсы
                    </a>
                </li>
                <li>
                    <a href="blog.html">
                        Статьи
                    </a>
                </li>
            </ul>
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <a href="https://yandex.by/maps/2/saint-petersburg/house/manchesterskaya_ulitsa_6/Z0kYdQVoTkcEQFhqfXxwc3xrYQ==/?indoorLevel=1&ll=30.328723%2C60.012085&z=17.06" target="_blank" class="header__location">
            <div>
                <img src="assets/images/location.svg" alt="icon">
            </div>
            <p>
                Санкт‑Петербург,<br>
                ул. Манчестерская, д. 6
            </p>
        </a>
        <a href="#" class="icon tel-icon">
            <img src="assets/images/tel-color.svg" alt="icon">
        </a>
        <div class="hide">
            <ul class="header__bottom-list">
                <li>
                   <a href="main.html" class="list-active">Брекеты</a>
                </li>
                <li>
                    <a href="aligners.html">Элайнеры</a>
                </li>
                <li>
                    <a href="#">ВНЧС</a>
                </li>
                <li>
                    <a href="implantation.html">Имплантация и протезирование</a>
                </li>
                <li>
                    <a href="#">Ортогнатическая хирургия</a>
                </li>
            </ul>
        </div>
    </div>
</header>