<header class="header wrapper">
    <div class="header__top">
        <div class="header__logo-container">
            <div class="header__logo">
                <img src="assets/images/logo.svg" alt="logo">
            </div>
            <div class="border">
                <a href="tel:+7 999 025-50-50">+7 999 025-50-50</a>
            </div>
            <div>
                Пн-Вс с 10:00 до 21:00
            </div>
        </div>
        <div class="header__nav">
            <ul class="menu">
                <li>
                    <a href="#">
                        Цены
                    </a>
                </li>
                <li>
                    <a href="#">
                        Команда
                    </a>
                </li>
                <li>
                    <a href="#">
                        Кейсы
                    </a>
                </li>
                <li>
                    <a href="#">
                        Статьи
                    </a>
                </li>
            </ul>
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__location">
            <div>
                <img src="assets/images/location.svg" alt="icon">
            </div>
            <p>
                Санкт‑Петербург,<br>
                ул. Манчестерская, д. 6
            </p>
        </div>
        <div>
            <ul class="header__bottom-list">
                <li class="active">
                    Брекеты
                </li>
                <li>
                    Элайнеры
                </li>
                <li>
                    ВНЧС
                </li>
                <li>
                    Имплантация и протезирование
                </li>
                <li>
                    Ортогнатическая хирургия
                </li>
            </ul>
        </div>
    </div>
</header>