<div class="menu__wrapper">
    <div class="menu__content">
        <svg class="close">
            <use xlink:href="assets/images/sprite/close.svg#close"></use>
        </svg>
        <ul class="menu__list text">
            <li>
                <a href="#">
                    О клинике
                </a>
            </li>
            <li>
                <a href="#">
                    Гарантии
                </a>
            </li>
            <li>
                <a href="#">
                    Онлайн-консультация
                </a>
            </li>
            <li>
                <a href="#">
                    Отзывы
                </a>
            </li>
            <li>
                <a href="#">
                    Лицензии и документы
                </a>
            </li>
            <li>
                <a href="#">
                    Контакты
                </a>
            </li>
        </ul>
        <div class="menu__social-container">
            <p>Свяжитесь с нами прямо сейчас</p>
            <div class="menu__social">
                <a href="#">
                    <div>
                        <img src="assets/images/tel.svg" alt="icon">
                    </div>
                </a>
                <a href="#">
                    <div>
                        <img src="assets/images/wt.svg" alt="icon">
                    </div>
                </a>
                <a href="#">
                    <div>
                        <img src="assets/images/tl.svg" alt="icon">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>