<div class="menu__wrapper">
    <div class="menu__content">
        <svg class="close">
            <use xlink:href="assets/images/sprite/close.svg#close"></use>
        </svg>
        <ul class="menu-mob hide-desc">
            <li>
                <a href="#" class="list-active">Брекеты</a>
            </li>
            <li>
                <a href="#">Элайнеры</a>
            </li>
            <li>
                <a href="#">ВНЧС</a>
            </li>
            <li>
                <a href="#">Имплантация и протезирование</a>
            </li>
            <li>
                <a href="#">Ортогнатическая хирургия</a>
            </li>
        </ul>
        <div class="line header-line hide-desc"></div>
        <ul class="menu-mob hide-desc">
            <li>
                <a href="#">
                    Цены
                </a>
            </li>
            <li>
                <a href="#">
                    Команда
                </a>
            </li>
            <li>
                <a href="#">
                    Кейсы
                </a>
            </li>
            <li>
                <a href="#">
                    Статьи
                </a>
            </li>
        </ul>
        <div class="line header-line hide-desc"></div>
        <ul class="menu__list">
            <li>
                <a href="#">
                    О клинике
                </a>
            </li>
            <li>
                <a href="#">
                    Гарантии
                </a>
            </li>
            <li>
                <a href="#">
                    Онлайн-консультация
                </a>
            </li>
            <li>
                <a href="#">
                    Отзывы
                </a>
            </li>
            <li>
                <a href="#">
                    Вопрос-ответ
                </a>
            </li>
            <li>
                <a href="#">
                    Лицензии и документы
                </a>
            </li>
            <li>
                <a href="#">
                    Контакты
                </a>
            </li>
        </ul>
        <button class="button hide-desc">Записаться</button>
        <div class="menu__social-container">
            <p>Свяжитесь с нами прямо сейчас</p>
            <div class="menu__social">
                <a href="#">
                    <div>
                        <img src="assets/images/tel.svg" alt="icon">
                    </div>
                </a>
                <a href="#">
                    <div>
                        <img src="assets/images/wt.svg" alt="icon">
                    </div>
                </a>
                <a href="#">
                    <div>
                        <img src="assets/images/tl.svg" alt="icon">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>