<div class="record">
    <div class="record__title">
        Запишитесь на приём
    </div>
    <div class="record__subtitle">
        Оставьте контакты, и мы свяжемся с вами  в ближайшее время
    </div>
    <form class="form sendForm">
        <label class="input">
            <span class="error-form">Введите имя</span>
            <input type="text" name="name" placeholder="Имя*" class="required__input">
        </label>
        <label class="input">
            <span class="error-form">Введите телефон</span>
            <input type="tel" name="tel" placeholder="Телефон*" class="required__input custom-input">
        </label>
        <label class="input">
            <select name="list">
                <option value="1">Напишите мне в <span class="italic">WhatsApp</span></option>
                <option value="2">Напишите мне в <span class="italic">Telegram</span></option>
                <option value="3">Перезвоните мне</option>
            </select>
        </label>
        <button class="button" type="submit">Записаться</button>
        <span>Нажимая на кнопку «Записаться», я принимаю условия пользовательского соглашения и даю согласие на обработку своих персональных данных.</span>
    </form>
    <div class="record__icon">Или свяжитесь с нами прямо сейчас</div>
    <div class="menu__social">
        <a href="#">
            <div>
                <img src="assets/images/tel.svg" alt="icon">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="assets/images/wt.svg" alt="icon">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="assets/images/tl.svg" alt="icon">
            </div>
        </a>
    </div>
</div>