.aligners__banner {
  background-image: url("../images/aligners__bg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  padding: 6rem 5.6rem 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  margin-bottom: 10.4rem;
  @include breakpoint($xl-bp) {
    background-image: url("../images/aligners__bg--mob.png");
    background-size: contain;
    padding: 2rem;
    position: relative;
    gap: 0;
    margin-bottom: 7rem;
  }
  @include breakpoint($sm-bp) {
    padding:0;
    position: relative;
    gap: 3rem;
    margin-bottom: 1.4rem;
  }

  & .banner__inf {
    max-width: 65rem;
  }
}

.aligners__arrow {
  align-self: center;
}

.aligners__heading {
  margin: 3.2rem auto 0;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
}

.aligners__about {
  margin-top: 10.4rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 8.4rem 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
  @include breakpoint($xl-bp) {
    margin-top: 7.2rem;
    background-color: transparent;
    padding: 0;
  }
}

.aligners__about-bottom,
.aligners__about-top {
  display: grid;
  grid-template-columns: 57rem 51rem;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }
}

.aligners__slider {
  position: relative;
  padding-bottom: 3rem;
  @include breakpoint($xl-bp) {
    order: 2;
    padding-bottom: 4rem;
  }
}

.aligners__slide {
  border-radius: 1.2rem;
  overflow: hidden;
}

.aligners__text {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include breakpoint($xl-bp) {
    margin-top: 2.4rem;
  }
}

.aligners__about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
  @include breakpoint($xl-bp) {
    background-color: var(--white);
    padding: 1.2rem;
    order: 1;
    border-radius: 1.2rem;
  }

  & h2 {
    @include breakpoint($sm-bp) {
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }
}

.aligners__bottom-item {
  border-radius: 1.2rem;
  padding: 2rem;
  color: var(--white);
  background-color: var(--green);
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }

  & h2 {
    @include breakpoint($sm-bp) {
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }
}

.aligners__details {
  margin-top: 8.4rem;
  display: flex;
  flex-direction: column;
  gap: 5.7rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
    gap: 4rem;
  }

  & h2 {
    text-align: center;
  }
}

.aligners__details-item {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
}

.aligners__details-heading {
  padding: 1.6rem 2rem 2rem 2rem;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 800;
  font-family: "Cygre-ExtraBold", sans-serif;
  border-radius: 1.2rem;
  background-color: var(--white);
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: "Cygre-Bold", sans-serif;
  }
}

.aligners__details-containers {
  display: grid;
  grid-template-columns: 63rem 55rem;
  gap: 2rem;
  @include breakpoint($xxl_bp) {
    grid-template-columns: 69rem 59rem;
  }
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }

  & div {
    border-radius: 1.2rem;
    background-color: var(--white);
    padding: 2rem;
  }

  & .aligners__details-text:nth-child(1) {
    background-size: 21rem;
    background-position: 97% bottom;
    background-image: url("../images/bg/plus-bg.svg");
    background-repeat: no-repeat;
    @include breakpoint($sm-bp) {
      background-position: 120% -30%;
      background-size: 18rem;
    }
  }

  & .aligners__details-text:nth-child(2) {
    background-size: 21rem;
    background-position: 97% 70%;
    background-image: url("../images/bg/minus-bg.svg");
    background-repeat: no-repeat;
    @include breakpoint($sm-bp) {
      background-position: 120% 48%;
      background-size: 18rem;
    }
  }
}

.aligners__details-text {
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.aligners__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: square inside;
  font-size: 2.4rem;
  line-height: 2.8rem;
  @include breakpoint($sm-bp) {
    gap: 1.2rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  & li::marker {
    color: var(--color2)
  }

  &  li {
    display: list-item;
    list-style-position: inside;
    padding-left: 4rem;
    text-indent: -3rem;
  }
}

