.aligners__banner {
  background-image: url("../images/bg/aligners__bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 5.6rem 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  margin-bottom: 10.4rem;
  @include breakpoint($xl-bp) {

    background-size: contain;
    padding: 2rem;
    position: relative;
    gap: 0;
    margin-bottom: 7rem;
  }
  @include breakpoint($sm-bp) {
    background-image: url("../images/bg/aligners__bg--mob.png");
    padding:0;
    position: relative;
    gap: 3rem;
    margin-bottom: 1.4rem;
  }

  & .banner__inf {
    max-width: 65rem;
  }
}

.banner__inf h1.aligners__title {
  @include breakpoint($sm-bp) {
   top: 9%;
  }
}

.aligners__title {
  @include breakpoint($sm-bp) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.aligners__arrow {
  align-self: center;
}

.aligners__heading {
  margin: 3.2rem auto 0;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  @include breakpoint($xl-bp) {
    position: absolute;
    top: 20%;
    width: -10%;
    max-width: 50%;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 2.2rem;
  }
  @include breakpoint($sm-bp) {
    position: static;
    font-weight: 700;
    border-radius: 1.2rem;
    background-color: var(--white);
    padding: 1.2rem 1.5rem 0.8rem 1.5rem;
    margin-bottom: 2.4rem;
    max-width: 32rem;
    margin-left: 0;
  }
}

.banner__container.aligners__container {
  @include breakpoint($xl-bp) {
    margin-top: 18rem;
  }
  @include breakpoint($sm-bp) {
    margin-top: 0;
  }
}

.aligners__about {
  margin-top: 10.4rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 8.4rem 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
  @include breakpoint($xl-bp) {
    margin-top: 7.2rem;
    background-color: transparent;
    padding: 0;
  }
}

.aligners__about-bottom,
.aligners__about-top {
  display: grid;
  grid-template-columns: 57rem 51rem;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }
}

.aligners__slider {
  position: relative;
  padding-bottom: 3rem;
  @include breakpoint($xl-bp) {
    order: 2;
    padding-bottom: 4rem;
    width: calc(100vw - 1.5rem);
    padding-left: 1.5rem;
  }
}

.aligners__slide {
  border-radius: 1.2rem;
  overflow: hidden;
}



.aligners__text {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include breakpoint($xl-bp) {
    margin-top: 2.4rem;
  }
}

.aligners__about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
  @include breakpoint($xl-bp) {
    background-color: var(--white);
    padding: 1.2rem;
    order: 1;
    border-radius: 1.2rem;
  }
  @include breakpoint($sm-bp) {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }

  & h2 {
    @include breakpoint($sm-bp) {
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }
}

.aligners__bottom-item {
  border-radius: 1.2rem;
  padding: 2rem;
  color: var(--white);
  background-color: var(--green);
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }

  & h2 {
    @include breakpoint($sm-bp) {
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }
}

.aligners__details {
  margin-top: 8.4rem;
  display: flex;
  flex-direction: column;
  gap: 5.7rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
    gap: 4rem;
  }

  & h2 {
    text-align: center;
  }
}

.aligners__details-item {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  @include breakpoint($xl-bp) {
    align-items: normal;
  }
}

.aligners__details-heading {
  padding: 1.6rem 2rem 2rem 2rem;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 800;
  font-family: "Cygre-ExtraBold", sans-serif;
  border-radius: 1.2rem;
  background-color: var(--white);
  @include breakpoint($xl-bp) {
    align-self: flex-start;
  }
  @include breakpoint($sm-bp) {
    padding: 0.8rem 1.2rem 1.2rem 1.2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: "Cygre-Bold", sans-serif;
  }
}

.aligners__details-containers {
  display: grid;
  grid-template-columns: 63rem 55rem;
  gap: 2rem;
  @include breakpoint($xxl_bp) {
    grid-template-columns: 69rem 59rem;
  }
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }

  & div {
    border-radius: 1.2rem;
    background-color: var(--white);
    padding: 2rem;
    @include breakpoint($sm-bp) {
      padding: 1.2rem;
    }
  }

  & .aligners__details-text:nth-child(1) {
    background-size: 21rem;
    background-position: 97% bottom;
    background-image: url("../images/bg/plus-bg.svg");
    background-repeat: no-repeat;
    @include breakpoint($sm-bp) {
      background-position: 120% -30%;
      background-size: 18rem;
    }
  }

  & .aligners__details-text:nth-child(2) {
    background-size: 21rem;
    background-position: 97% 70%;
    background-image: url("../images/bg/minus-bg.svg");
    background-repeat: no-repeat;
    @include breakpoint($sm-bp) {
      background-position: 120% 48%;
      background-size: 18rem;
    }
  }
}

.aligners__details-text {
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.aligners__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: square inside;
  font-size: 2.4rem;
  line-height: 2.8rem;
  @include breakpoint($sm-bp) {
    gap: 1.2rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  & li::marker {
    color: var(--color2)
  }

  &  li {
    display: list-item;
    list-style-position: inside;
    padding-left: 4rem;
    text-indent: -3rem;
    @include breakpoint($sm-bp) {
      padding-left: 2rem;
      text-indent: -2rem;
    }
  }
}

.aligners__doctor {
  border-radius: 1.2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 23rem 77rem;
  margin-top: 5.6rem;
  grid-template-rows: 25rem;
  justify-content: center;
  width: fit-content;
  margin-bottom: 8.4rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 38rem 52rem;
    grid-template-rows: 40rem;
  }
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: 44rem;
    margin-bottom: 5.6rem;
  }

  & div:nth-child(1) {
    @include breakpoint($sm-bp) {
      order: 2;
    }
  }

  & .aligners__doctor__text {
    @include breakpoint($sm-bp) {
      order: 1;
    }
  }

}

.aligners__doctor__text {
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column-reverse;
    background-image: url("../images/sing.svg");
    background-position: 97% 0%;
    background-size: 5.6rem;
    background-repeat: no-repeat;
  }
}

.aligners__plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 6.4rem;
  }
}

.aligners__plan-heading {
  margin-top: 2.4rem;
  margin-bottom: 5.6rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.aligners__plan-container {
  max-width: 100rem;
  border-radius: 1.2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 38rem 62rem;
  grid-template-rows: 39rem;
  justify-content: center;
  margin-top: 5.6rem;
  width: fit-content;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    grid-template-columns: 1fr;
  }

  & div:nth-child(1) {
    @include breakpoint($sm-bp) {
      order: 2;
    }
  }
}

.aligners__plan-content {
  padding: 3.8rem 2rem;
  background-color: var(--white);
  @include breakpoint($sm-bp) {
    order: 1;
  }
}

.aligners__params {
  border-radius: 1.2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: var(--grey);
  margin-bottom: 3.2rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.6rem;
    grid-template-rows: repeat(2, 1fr);
  }

  & div {
    padding: 1.2rem 2.4rem;
    background-color: var(--bg-grey);
    position: relative;

    &.active {
      border-radius: 1.2rem;
      background-color: var(--color2);
      color: var(--color1);
      width: 9.6rem;
      text-align: center;
    }

    &.active.active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color2);
      z-index: -1;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.aligners__plan-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: square inside;

  & li::marker {
    color: var(--color2)
  }

  &  li {
    display: list-item;
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -2rem;
  }
}

.aligners-img {
  display: none;

  &.active {
    display: block;
  }
}

.aligners__result {
  font-weight: 700;
}

.aligners__plans {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.price-aligners.price-swiper__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.aligners-num {
  border-radius: 1.2rem;
  overflow: hidden;
  background-image: url("../images/bg/bg-aliners.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 57rem;
  padding: 6.8rem 5.6rem 6.8rem 0;
  margin-top: 5.6rem;
}

.aligners-num__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 36rem;
  @include breakpoint($sm-bp) {
    max-width: 32rem;
  }
}

.aligners-num__container-item {
  border-radius: 1.2rem;
  background-color: var(--bg-grey);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    background-color: var(--white);
  }
}

.aligners-num__item {
  font-size: 2.4rem;
  line-height: 2.8rem;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.aligners-num__item-num {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 5.4rem;
  color: var(--white);
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--bg-grey);
  }
}

.aligners__reason {
  display: grid;
  grid-template-columns: repeat(2,49rem);
  grid-template-rows: 40rem;
  gap: 2rem;
  width: fit-content;
  align-items: center;
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.aligners__reason-left,
.aligners__reason-right {
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 10.4rem;
  margin-bottom: 8.4rem;
  color: var(--white);
}

.aligners__reason-left {
  background-color: var(--green);
}

.aligners__reason-right {
  background-color: var(--color1);
}

.swiper-slide.aligners__slide-hide {
  display: none;
  @include breakpoint($xxl_bp) {
    display: block;
  }
}

.aligners__details-item:nth-child(3) .aligners__details-containers .aligners__details-text:nth-child(2) {
  @include breakpoint($sm-bp) {
    background-position: 120% 26%;
  }

}
