.articulation__wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($hh) {
    max-width: 90rem;
  }
}

.articulation {
  background-image: url("../images/articulation/articulation-banner.png");
  background-repeat: no-repeat;
  border-radius: 1.2rem;
  padding: 2.4rem;
  background-size: inherit;
  margin-bottom: 10.4rem;
  @include breakpoint($xxl-bp) {
    background-size: cover;
  }
  @include breakpoint($xl-bp) {
    background-size: contain;
  }
  @include breakpoint($sm-bp) {
    background-image: url("../images/articulation/articulation-banner__mob.png");
    max-width: 32rem;
    margin: 0 auto;
    background-size: contain;
    background-position: top;
    margin-bottom: 6.4rem;
    padding: 0;
    height: 73rem;
    position: relative;
  }
}

.articulation__title-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
  @include breakpoint($sm-bp) {
    gap: 1.2rem;
    border-radius: 1.2rem;
    padding: 1.2rem;
    background-color: var(--white);
    width: 32rem;
  }
}

.articulation__title {
  font-family: "Cygre-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 3.8rem;
  line-height: 4.6rem;
  @include breakpoint($sm-bp) {
    font-family: "Cygre-Bold", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.articulation__title-text {
  font-size: 2.4rem;
  line-height: 2.8rem;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.articulation__inf {
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint($sm-bp) {
    position: absolute;
    bottom: 0;
    gap: 2rem;
    align-items: flex-start;
  }
}

.articulation__inf .button {
  @include breakpoint($sm-bp) {
    width: 32rem;
  }
}

.articulation__item {
  background-color: var(--bg-grey);
  border-radius: 1.2rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  border: 1px solid #C8CACD;
  @include breakpoint($xl-bp) {
    gap: 2rem;
    color: var(--white);
    border: none;
  }
}

.articulation__item:nth-child(1) {
  background: #DDDFE466;
  @include breakpoint($sm-bp) {
    background-color: var(--color1);
  }
}

.articulation__item:nth-child(2) {
  background: #DDDFE466;
  @include breakpoint($sm-bp) {
    background-color: var(--green);
  }
}

.articulation__item:nth-child(3) {
  @include breakpoint($sm-bp) {
    background-color: var(--color1);
  }
}

.articulation__item:nth-child(4) {
  background: #DDDFE466;
  @include breakpoint($sm-bp) {
    background-color: var(--green);
  }
}

.articulation__access-top,
.articulation__access-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    gap: 2.4rem;
    grid-template-columns: 1fr;
  }
}

.articulation__access-top {
  grid-template-rows: 35rem;
  @include breakpoint($xl-bp) {
    grid-template-rows: 48rem 13.7rem;
  }
}

.articulation__access-bottom {
  grid-template-rows: 32rem;
  margin-top: 5.6rem;
  @include breakpoint($xl-bp) {
    grid-template-rows: auto 13.7rem auto;
    margin-top: 2.4rem;
  }
}

.articulation__top-item {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 1.2rem;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
  }
}

.articulation__access-left h2,
.articulation__access-right h2,
.articulation__top-item h2 {
  @include breakpoint($xl-bp) {
    font-family: "Cygre-Bold", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.articulation__access-left h2,
.articulation__access-right h2 {
  @include breakpoint($xl-bp) {
    margin-bottom: 2rem;
  }
}

.articulation__access-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.articulation__top-img {
  border-radius: 1.2rem;
  overflow: hidden;
}

.articulation__access-left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color1);
  color: var(--white);
  border-radius: 1.2rem;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
  }
}

.articulation__access-right {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--green);
  color: var(--white);
  border-radius: 1.2rem;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
  }
}

.articulation__access-list {
  list-style: square inside;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & li {
    display: list-item;
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -2rem;
  }

  & li::marker {
    color: var(--color2);
  }
}

.articulation__access-img {
  border-radius: 1.2rem;
  overflow: hidden;
}

.articulation__dysfunction {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  display: grid;
  grid-template-columns: 29rem 36rem auto;
  align-items: center;
  margin-top: 10.4rem;
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
    grid-template-columns: 1fr;
    background-color: transparent;
    gap: 2.4rem;
    padding: 0;
  }
}

.dysfunction__title {
  grid-row: span 2;
  font-family: "Cygre-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 3.8rem;
  line-height: 4.5rem;
  text-align: center;
  border-right: 1px solid #DDDFE4;
  height: 36rem;
  display: flex;
  align-items: center;
  @include breakpoint($sm-bp) {
    font-size: 2.8rem;
    line-height: 3.3rem;
    border-right: none;
    height: auto;
    text-align: center;
    display: block;
  }
}

.dysfunction__tab-name {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  height: 36rem;
  border-right: 1px solid #DDDFE4;
  justify-content: center;
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.dysfunction__subtitle {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  @include breakpoint($sm-bp) {
    font-family: "Cygre-Bold", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
  &.active {
    font-family: "Cygre-ExtraBold", sans-serif;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}

.dysfunction__subtitle:hover {
  cursor: pointer;
}

.dysfunction__text {
  display: none;
  flex-direction: column;
  gap: 3.2rem;
  padding-left: 4.5rem;
  @include breakpoint($sm-bp) {
    display: flex;
    border-radius: 1.2rem;
    background-color: var(--white);
    padding: 1.2rem;
  }

  &.active {
    display: flex;
  }
}

.dysfunction__text:nth-child(1) {
  @include breakpoint($sm-bp) {
    margin-bottom: 2rem;
  }
}

.dysfunction__tab-title {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  margin-bottom: 1.6rem;
  @include breakpoint($sm-bp) {
    text-align: center;
  }
}

.dysfunction__tab-img {
  width: 32rem;
  height: 22rem;
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($sm-bp) {
    width: 30rem;
  }
}

.dysfunction__tab2-img {
  width: 50rem;
  height: 38rem;
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($sm-bp) {
    width: 30rem;
    height: 22rem;
  }
}

.dysfunction__tab-list {
  list-style: square inside;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  & li::marker {
    font-size: 2rem;
  }
}

.dysfunction__tab-list li {
  position: relative;
}

.dysfunction__tab-list li span {
  position: absolute;
  left: 2.5%;
  display: inline-block;
  @include breakpoint($sm-bp) {
    left: 4%;
    font-family: "Cygre-Bold", sans-serif;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }
}

.articulation-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulation__params {
  border-radius: 1.2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--grey);
  margin-bottom: 3.2rem;
  background-color: var(--bg-grey);
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.6rem;
    background-color: transparent;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 2.4rem;
    width: auto;
  }

  & div {
    padding: 1.2rem 2.4rem;
    background-color: var(--bg-grey);
    @include breakpoint($xl-bp) {
      padding: 0.8rem 1.8rem;
    }
    @include breakpoint($sm-bp) {
      padding: 0.8rem 2rem;
    }

    &.active {
      position: relative;
      color: var(--color1);
      width: 11.6rem;
      text-align: center;
      z-index: 1;
      font-weight: 700;
      @include breakpoint($sm-bp) {
        width: auto;
      }
    }

    &.active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 1.2rem;
      background-color: var(--color2);
      color: var(--color1);
      z-index: -1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & div:nth-child(1) {
    @include breakpoint($sm-bp) {
      border-bottom-left-radius: 1.2rem;
    }
  }

  & div:nth-child(2) {
    @include breakpoint($sm-bp) {
      border-bottom-right-radius: 1.2rem;
    }
  }

  & div:nth-child(3) {
    @include breakpoint($sm-bp) {
      border-top-left-radius: 1.2rem;
    }
  }

  & div:nth-child(4) {
    @include breakpoint($sm-bp) {
      border-top-right-radius: 1.2rem;
    }
  }
}

.articulation__plan-container {
  max-width: 96rem;
  border-radius: 1.2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: minmax(min-content, max-content);
  justify-content: center;
  margin-top: 5.6rem;
  width: fit-content;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.articulation__plan-container .aligners-img:nth-child(4) {
  background-color: var(--white);
  padding: 10rem 2rem 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.articulation__plan-container .aligners-img:nth-child(4) .step-title {
  margin-bottom: 1.6rem;
}

.articulation-symptoms {
  margin-top: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
  }
}

.articulation-symptoms h2 {
  text-align: center;
  margin-bottom: 5.6rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 2.4rem;
  }
}

.articulation-symptoms__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 52rem;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 28rem;
    gap: 2.4rem;
  }
}

.articulation-symptoms__img {
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($sm-bp) {
    order: 2;
  }
}

.articulation-symptoms__text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14rem auto;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-template-rows: 14.8rem 40rem;
    gap: 2.4rem;
    order: 1;
  }
}

.articulation-symptoms__item {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articulation-symptoms__title {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.articulation-symptoms__item:nth-child(1) {
  background-color: var(--green);
  border-radius: 1.2rem;
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.articulation-symptoms__item:nth-child(2) {
  background-color: var(--color1);
  border-radius: 1.2rem;
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.articulation-symptoms__list {
  list-style: square inside;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & li {
    display: list-item;
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -2rem;
  }

  & li::marker {
    color: var(--color2);
  }
}

.articulation-price {
  margin-top: 8.4rem;
  margin-bottom: 10.4rem;
  @include breakpoint($xl-bp) {
    margin-top: 6.4rem;
    margin-bottom: 7.3rem;
  }
}

.articulation-price h2 {
  text-align: center;
}

.articulation-price__img {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.articulation-cost__container {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 41rem;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.articulation-cost__right-item {
  display: grid;
  grid-template-columns: 29rem 22rem 7.4rem;
  row-gap: 2rem;
  column-gap: 1rem;
  align-items: end;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.8rem;
  }

  & div.line {
    background-color: rgba(142, 142, 142, 1);
    @include breakpoint($sm-bp) {
      order: 3;
      grid-column: span 2;
    }
  }

  & div.implantation-cost__item {
    @include breakpoint($sm-bp) {
      order: 2;
      grid-column: span 2;
    }
  }

  & div:nth-child(1) {
    @include breakpoint($sm-bp) {
      order: 1;
      grid-column: span 2;
      max-width: 70%;
    }
  }

}

.articulation-standards__item.order5 {
  background-color: var(--white);
  border-radius: 1.2rem;
  position: relative;
  grid-row: span 2;
  @include breakpoint($sm-bp) {
    height: 18rem;
    border: 1px solid var(--color2);
    padding: 1.2rem;
  }
}

.articulation-standards__item-img {
  height: 40rem;
  margin-bottom: 3rem;
  @include breakpoint($xl-bp) {
    height: 37rem;
    margin-bottom: 1rem;
  }
  @include breakpoint($sm-bp) {
    height: 6.9rem;
  }
}

.articulation-standards__content-card {
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: 8rem auto;
    grid-template-rows: 7rem;
    gap: 1.2rem;
  }
}