.assurance {
  padding-top: 8.4rem;
  padding-bottom: 10.4rem;
  display: flex;
  flex-direction: column;
  gap: 10.4rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    padding-top: 5.6rem;
    padding-bottom: 7.2rem;
    gap: 7.2rem;
  }
}

.assurance h1 {
  margin-bottom: 2.4rem;
  text-align: center;
}


.assurance-text {
  display: grid;
  grid-template-columns: repeat(2, 45rem);
  gap: 2rem;
  margin-top: 5.6rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.assurance__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assurance__top-text {
  width: 70%;
  text-align: center;
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.assurance-text__item {
  border-radius: 1.2rem;
  padding: 1.6rem;
  color: var(--white);
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
  }
}

.assurance-text__item p {
  padding-bottom: 1.6rem;
}

.assurance-text__item:first-child {
  background-color: var(--green);
}

.assurance-text__item:last-child {
  background-color: var(--color1);
}

.assurance__inf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 49.2rem);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.assurance__inf-item {
  border-radius: 1.2rem;
  padding: 2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    gap: 2rem;
  }
}

.assurance__sign {
  display: flex;
  gap: 1.8rem;
}

.assurance__icon {
  width: 2.3rem;
  height: 2.3rem;
  flex-shrink: 0;
}

.assurance__inf-img {
  border-radius: 1.2rem;
  overflow: hidden;
  grid-row: span 2;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.assurance__inf-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.banner__linc-svg {
  flex-shrink: 0;
}