.case__list {
  display: flex;
  gap: 4rem;
  @include breakpoint($xl-bp) {
    gap: 1.5rem;
    overflow-x: auto;
    width: 85%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &-icon {
    display: none;
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
    @include breakpoint($sm-bp) {
      display: block;
    }
  }
}

.case__content {
  display: flex;
  flex-direction: column;
}

.case__container-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case__item:hover {
  color: var(--color2);
  cursor: pointer;
}

.case__item.active {
  font-weight: 700;
}

.case__content h1 {
  text-align: center;
  margin: 5.6rem 0;
  @include breakpoint($sm-bp) {
    margin: 5.6rem 0 2.4rem 0;
    order: 1;
  }
}

.case__inf {
  display: grid;
  grid-template-columns: 66rem 43rem;
  grid-template-rows: 39rem;
  gap: 4rem;
  @include breakpoint($xxl_bp) {
    grid-template-columns: 71rem 55rem;
  }
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    order: 3;
    grid-template-rows: auto;
  }
}

.case__img-banner {
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.case__text {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.case__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    flex-direction: row;
  }
}

.case__inf-bottom {
  display: grid;
  grid-template-rows: 7.4rem 11rem;
  gap: 0.8rem;
  @include breakpoint($sm-bp) {
    gap: 2.4rem;
    grid-template-rows: auto auto;
  }
}

.case__inf-bottom div {
  border-radius: 1.2rem;
  padding: 1.6rem;
  color: var(--white);
  overflow-Y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.case__inf-gr {
  background-color: var(--green);
}

.case__inf-darc {
  background-color: var(--color1);
}

.case__desc .process__item-text {
  margin: 0;
}

.case__slider {
  margin-top: 15.2rem;
  margin-bottom: 8.4rem;
  position: relative;
  @include breakpoint($sm-bp) {
    margin-top: 0;
    margin-bottom: 5rem;
    order: 2;
  }
}


.case__record {
  margin-top: 10.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 5rem;
  }
}

.video__buttons.case__video-buttons {
  top: inherit;
  bottom: -13%;
}

.case__item-slide {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.case__img {
  border-radius: 1.2rem;
  overflow: hidden;
  height: 23rem;
  transition: width 0.3s ease, height 0.3s ease;
  filter: grayscale(1);
  @include breakpoint($sm-bp) {
    height: 18rem;
  }
}

.case__item-slide {
  width: 32rem;
  box-sizing: border-box;

}

.case__item-slide:not(.swiper-slide-active) {
  padding-top: 5.5rem;
  @include breakpoint($sm-bp) {
    padding-top: 0;
  }
}

.case__item-slide.swiper-slide-active {
  width: 45rem;

}
.swiper-slide-active .case__img {
  height: 38rem;
  filter: grayscale(0);
  @include breakpoint($sm-bp) {
    height: 18rem;
  }
}

.swiper-slide-active {
  position: relative;
}


.case__item-slide.swiper-slide-active {
  max-width: 45rem;
}

.case__item-slide.swiper-slide {
  transition: transform 0.5s ease;
}

.case__item-slide.swiper-slide-active::before {
  content: 'До';
  position: absolute;
  top: 0;
  left: -11%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: inherit;
  @include breakpoint($sm-bp) {
    color: var(--white);
    text-transform: lowercase;
    left: 3%;
    z-index: 1;
  }
}

.case__item-slide.swiper-slide-active::after {
  content: 'После';
  position: absolute;
  bottom: 0;
  left: -18%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: inherit;
  @include breakpoint($sm-bp) {
    color: var(--white);
    text-transform: lowercase;
    left: 3%;
    bottom: 12%;
    z-index: 1;
  }
}

.case__content h1 {
  @include breakpoint($xl-bp) {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.1rem;
  }
}

.swiper-slide.case__item-slide {
  flex-shrink: 0;
}

.case__video h2.team__title {
  @include breakpoint($xl-bp) {
    display: block;
    text-align: center;
  }
}