.cost-slide {
  display: grid;
  grid-template-columns: 69rem 49rem;
  grid-template-rows: 60rem;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 46rem 40rem;
    grid-template-rows: 40rem;
  }
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: 25rem auto;
    gap: 0;
  }
}

.cost__slider {
  padding-bottom: 5.6rem;
  position: relative;
  overflow: hidden;
}

.cost-slide__img,
.cost-slide__text {
  border-radius: 1.2rem;
  overflow: hidden;
}

.cost-slide__text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
  gap: 5.1rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    align-self: start;
  }
}

.cost-slide__content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @include breakpoint($sm-bp) {
    gap: 1rem;
  }
}

.cost-bg {
  background-color: var(--color1);
  color: var(--white);
}

.cost-bg-green {
  background-color: var(--green);
  color: var(--white);
}

.mt12 {
  @include breakpoint($sm-bp) {
    margin-top: 1.2rem;
  }
}

.cost-bg-white {
  background-color: var(--white);
  color: var(--color1);
}

.cost-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.6rem;
  list-style: square inside;
  margin-bottom: 2.5rem;
  margin-top: 1.2rem;
  @include breakpoint($sm-bp) {
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  & li::marker {
    color: var(--color2)
  }

  &  li {
    display: list-item;
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -2rem;
  }

}

.mb71 {
  margin-bottom: 7.1rem;
}

.cost__button {
  max-width: 33rem;
  align-self: center;
  @include breakpoint($sm-bp) {
   padding-left: 3rem;
    padding-right: 3rem;
  }
  &:hover {
    background-color: var(--grey);
  }
}

.cost__nav {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.8rem;
  margin-bottom: 8.4rem;
  width: fit-content;
  @include breakpoint($sm-bp) {
    padding: 1.2rem 1.2rem 1.2rem 3rem;
    border: 0.1rem solid var(--color2);
    margin-top: 5.4rem;
    margin-bottom: 5.6rem;
  }
}

.cost h2 {
  text-align: center;
  margin-bottom: 5.6rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 2.4rem;
  }
}

.cost__payment {
  display: grid;
  grid-template-columns: 69rem 49rem;
  gap: 2rem;
  align-items: end;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.cost__left,
.cost__right {
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    gap: 1.2rem;
  }
}

.cost__right {
  @include breakpoint($sm-bp) {
    flex-direction: column-reverse;
  }
}


.cost__container {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  width: 90rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 8.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    margin-bottom: 5.6rem;
    gap: 1.2rem;
    width: 100%;
  }
}

.cost__line {
  display: flex;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    gap: 0.8rem;
  }
}

.cost__underlining {
  border-bottom: 1px solid rgba(142, 142, 142, 0.5);
  width: 51rem;
  max-width: 57rem;
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.cost__line-right {
  display: flex;
  gap: 3rem;
  width: 72%;
  justify-content: space-between;
  font-weight: 700;
  white-space: nowrap;
  align-items: flex-end;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}

.cost__underlining2 {
  width: 42rem;
}

.cost__line-right2 {
  width: 58%;
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.cost__prise {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  margin-bottom: 5.6rem;
  width: 90rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    margin-bottom:2.4rem;
    width: 100%;
  }
}

.cost__accordion-item {
  display: grid;
  grid-template-columns: 42rem 30rem 8rem;
  justify-content: space-between;
  align-items: flex-end;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.cost__accordion-item div:nth-child(1) {
  @include breakpoint($sm-bp) {
    order: 1;
  }
}

.cost__accordion-item div:nth-child(2) {
  @include breakpoint($sm-bp) {
    order: 3;
  }
}

.cost__accordion-item div:nth-child(3) {
  @include breakpoint($sm-bp) {
    order: 2;
  }
}

.cost__accordion-item div:nth-child(3) {
  text-align: end;
  font-weight: 700;
  white-space: nowrap;
}

.cost__underline {
  border-bottom: 1px solid rgba(142, 142, 142, 0.5);
}

.cost-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 1.2rem;
  background-color: #DDDFE4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: border 0.3s;
  &.active {
    border: 1px solid var(--color2);
  }
}

.cost-icon span {
  position: absolute;
  background-color: var(--color2);
  transition: transform 0.3s;
}

.cost-icon .horizontal {
  height: 0.3rem;
  width: 1.5rem;
}

.cost-icon .vertical {
  height: 1.5rem;
  width: 0.3rem;
  transform: scaleY(0);
}

.cost-icon.active .vertical {
  transform: scaleY(1);
}

.cost__item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.6rem;
  @include breakpoint($sm-bp) {
  margin-bottom: 1.2rem;
}
}

.cost__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.6rem;
  @include breakpoint($sm-bp) {
    gap: 1.2rem;
    margin-top: 1.2rem;
  }
}

.cost-content__subtext {
  font-weight: 700;
  width: 90%;
}

.cost__button-download {
  display: block;
  border-radius: 1.2rem;
  border: 0.1rem solid var(--color2);
  padding: 1.7rem 5rem;
  font-weight: 700;
  margin: 5.6rem auto 10.4rem;
  text-align: center;
  width: max-content;
  @include breakpoint($sm-bp) {
    margin: 2.4rem auto 5.6rem;
    background-color: var(--color2);
  }
  &:hover {
    background-color: var(--color1);
    color: var(--color2);
  }
}

.cost__sum {
  border-radius: 1.2rem;
  padding: 2rem;
  background-color: var(--white);
  margin-bottom: 10.4rem;
  @include breakpoint($sm-bp) {
    margin: 2.4rem auto 5.6rem;
    background-color: transparent;
    padding: 0;
  }
}

.cost__sum h2 {
  text-align: left;
  @include breakpoint($sm-bp) {
    text-align: center;
  }
}

.cost__nav .content__list {
  @include breakpoint($sm-bp) {
    white-space: normal;
  }
}