.doctors {
  padding: 6.4rem 0 10.4rem;
  @include breakpoint($xl-bp) {
    padding: 2rem 0 7.2rem;
  }
}

.doctors h1 {
  text-align: center;
}

.doctors__container {
  margin: 10.4rem 0 5.6rem;
  @include breakpoint($xl-bp) {
    margin: 5.6rem 0 ;
  }
}

.doctors__list {
  display: flex;
  gap: 4rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  //background-image: url('../images/arrow-sprite.svg');
  //background-repeat: no-repeat;
  //background-size: 1.5rem;
  //background-position: right 2.2rem center;
}

.doctors__list li:hover {
  cursor: pointer;
  color: var(--color2);
}

.doctors__select {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
    padding: 1.1rem 1.6rem;
    border-radius: 1.2rem;
  }
}

.doctors__list {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.doctors__content {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.doctors__item.active {
  font-weight: 700;
}

.doctors__content-img {
  width: 25rem;
  flex-shrink: 0;
  @include breakpoint($xl-bp) {
    width: 100%;
    height: 60rem;
  }
  @include breakpoint($sm-bp) {
    height: 37rem;
  }
}

.doctors__content-item {
  height: 41rem;
  @include breakpoint($xl-bp) {
    height: 86rem;
  }
  @include breakpoint($sm-bp) {
    height: 73rem;
  }
}

.doctors__content-item .team__item-desc {
  @include breakpoint($xl-bp) {
    flex-grow: 1;
  }
}

.doctors__item-person {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.doctors__item-person {
  text-align: center;
}

.doctor__linc {
  text-align: center;
  font-weight: 700;
}

.doctors__content-item {
  display: flex;
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.doctors__content-item:first-child {
  border: 1px solid var(--color2);
}

.doctors__record {
  margin-top: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 5.2rem;
  }
}

.select-container {
  display: none;
  @include breakpoint($sm-bp) {
    position: relative;
    display: inline-block;
  }
}

.doctors__select {
  width: 100%;
  padding-right: 30px;
}

.heading-icon--top-form,
.heading-icon--top,
.heading-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.heading-icon--top-form.active {
  transform: rotate(180deg);
  top: -35%;
}

.heading-icon--top.active {
  transform: rotate(180deg);
  top: 20%;
}
