.entry__top {
  display: grid;
  grid-template-columns: 49rem 69rem;
  gap: 2rem;
  align-items: end;
  @include breakpoint($xxl_bp) {
    grid-template-columns: 53rem 75rem;
  }
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: 40rem;
  }
  @include breakpoint($sm-bp) {
    grid-template-rows: 29rem;
  }
}

.entry__top-img {
  border-radius: 1.2rem;
  overflow: hidden;
  align-self: stretch;
}

.entry__top-text {
  padding: 1.6rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
  }
}

.entry__text-container div h3,
.entry__top-text h1 {
  @include breakpoint($sm-bp) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.entry__item-stars {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.entry__item-stars span {
  display: block;
  background: url(../images/star.svg) center / contain no-repeat;
  width: 1.6rem;
  height: 1.6rem;
}

.entry__top-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  @include breakpoint($xl-bp) {
    flex-direction: column-reverse;
    gap: 0.2rem;
  }
}

.entry__top-level {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  @include breakpoint($sm-bp) {
    display: flex;
  }
}

.entry__bottom-level {
  display: flex;
  gap: 2.4rem;
}

.entry__bottom-level--item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.entry__bottom-level--text {
  color: var(--grey);
}

.entry_inf {
  display: flex;
  gap: 2.4rem;
  color: var(--grey);
  align-items: flex-start;
}

.entry__text-container {
  margin-top: 5.3rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 5.6rem 18.3rem;
  margin-bottom: 10.4rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  @include breakpoint($sm-bp) {
    margin-top: 2rem;
    margin-bottom: 7.2rem;
    padding: 1.2rem;
  }
}

.entry__text-container div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include breakpoint($sm-bp) {
    padding-top: 0;
  }
}

.entry__text-container div ul  {
  list-style: disc inside;
}

.entry__text-container div ul li {
  display: list-item;
  list-style-position: inside;
  padding-left: 2rem;
  text-indent: -2rem;
}

.entry__img {
  width: 29rem;
  height: 23rem;
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($sm-bp) {
    flex-direction: column;
  }
}

.entry__images .entry__img-container {
  display: flex;
  flex-direction: row;
  @include breakpoint($sm-bp) {
    flex-direction: column;
  }
}

.entry__images {
  margin-left: auto;
  margin-right: auto;
}

.entry__images p {
  color: var(--grey);
}

.h4 {
  font-weight: 700;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.entry__text-container div.entry__video1 {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 32rem 35rem;
  gap: 2rem;
  align-items: end;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.entry__text-container div.entry__video2 {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 35rem 35rem;
  gap: 2rem;
  align-items: end;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.color {
  color: var(--color2);
}

.entry__video-item {
  background-color: var(--bg-grey);
  border-radius: 1.2rem;
  overflow: hidden;
}


.entry__slang {
  background-image: url("../images/entry-svg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 69rem;
  text-align: center;
  max-width: 48rem;
  padding-bottom: 2.4rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7.2rem;
  @include breakpoint($sm-bp) {
    padding-bottom: 1.2rem;
    background-size: 30rem;
    background-position: 100% -2%;
    margin-top: -2rem;
  }
}

.entry__slang h3 {
  font-weight: 400;
  font-family: 'Cygre-Regular', sans-serif;
  @include breakpoint($sm-bp) {
    padding-top: 3.4rem;
  }
}

.entry__slang div {
  text-align: center;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.entry__slang div.line {
  margin-top: 2.4rem;
}

.entry__image-banner {
  width: 85rem;
  height: 61rem;
  @include breakpoint($xl-bp) {
    width: 60rem;
    height: 48rem;
  }
  @include breakpoint($sm-bp) {
    width: 30rem;
    height: 26rem;
  }
}

.entry__image-banner figcaption {
  color: var(--grey);
  margin-top: -2rem;
}

.entry__image-banner picture img {
  object-fit: contain;
}

.view__inf {
  display: none;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  width: 14rem;
  height: 14rem;
  justify-content: center;
  border-radius: 1.2rem;
  background-color: var(--color1);
  padding: 1.2rem;
  top: 165%;
  @include breakpoint($sm-bp) {
    top: 118%;
  }
  &.active {
    display: flex;
  }
}

.entry_inf-data {
  position: relative;
}


.entry_inf-data:hover .view__inf {
  display: flex;
}

.view__text {
  color: var(--white);
}

.view__inf-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.day:hover {
  cursor: pointer;
  color: var(--color1);
}

.day::before {
  content: '• ';
  color: inherit;
}


.entry__text-container div h4,
.entry__text-container div h3 {
  margin-bottom: 1.2rem;
}

.day {
  @include breakpoint($sm-bp) {
    margin-top: 1rem;
  }
}