.guarantee__wrapper {
  background-color: var(--white);
  border-radius: 1.2rem;
  padding: 8.4rem 0;
  margin-bottom: 10rem;
  @include breakpoint($xl-bp) {
    padding: 4.4rem 0;
  }
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    margin-bottom: 7.2rem;
  }
}

.guarantee h1 {
  text-align: center;
  margin-bottom: 2.4rem;
}

.guarantee__top div {
  text-align: center;
}

.guarantee p:nth-child(1) {
  margin-bottom: 1.6rem;
}

.guarantee__top {
  max-width: 80rem;
  margin: 0 auto;
}

.guarantee-text {
  text-indent: 2.5rem;
  @include breakpoint($sm-bp) {
    text-indent: 2.5rem;
  }
}

.guarantee-text {
  margin-bottom: 1.2rem;
}

.guarantee__content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  color: var(--white);
  @include breakpoint($xl-bp) {
    margin-top: 2.4rem;
    gap: 1.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 50rem;
    justify-content: center;
  }
  @include breakpoint($xl-bp) {
    grid-template-columns: 60rem;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 30rem;
  }
}

.guarantee__item {
  border-radius: 1.2rem;
  background-color: var(--color1);
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
    gap: 1.2rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.guarantee__item-num {
  font-weight: 800;
  font-family: "Cygre-ExtraBold", sans-serif;
  font-size: 14rem;
  line-height: 16.8rem;
  color: var(--white);
    @include breakpoint($xl-bp) {
    color: var(--color2);
    font-family: "Cygre-Bold", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    display: flex;
  }
}

.guarantee__item-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: square inside;
  @include breakpoint($sm-bp) {
    gap: 0.2rem;
  }

  & li {
    display: list-item;
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -2rem;
  }
}

.guarantee__item-list li::marker {
  color: var(--color2)
}

.guarantee__line1 {
  display: grid;
  grid-template-columns: 65rem 39rem;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }
}

.guarantee__line1-text {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  gap: 0.8rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }
}

.guarantee__line1-subtitle {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.bg-grey {
  background-color: var(--bg-grey);
  color: var(--color1);
  @include breakpoint($xl-bp) {
    background-color: var(--color1);
    color: var(--white);
  }
}

.bg-green {
  background-color: var(--green);
  color: var(--white);
  @include breakpoint($xl-bp) {
    background-color: var(--color1);
    color: var(--white);
  }
}

.guarantee__line2 {
  display: grid;
  grid-template-columns: 42rem 42rem;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }
}

.guarantee__line3 {
  width: 100%;
  max-width: 105rem;
  align-items: flex-start;
}

.guarantee__line4 {
  width: 100%;
  max-width: 105rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
  }
}

.guarantee__line5 {
  max-width: 50rem;
}

.guarantee__item.guarantee__line3 div div.guarantee__line1-subtitle {
  margin-top: 0.8rem;
}
