.implantation__wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($hh) {
    max-width: 90rem;
  }
}

.implantation-banner {
  background-image: url("../images/implantation/imp-bg.png");
  background-repeat: no-repeat;
  border-radius: 1.2rem;
  padding: 3rem 4.1rem 6.9rem 4.1rem;
  background-size: inherit;
  margin-bottom: 10.4rem;
  @include breakpoint($xxl-bp) {
    background-size: cover;
  }
  @include breakpoint($xl-bp) {
    background-size: contain;
  }
  @include breakpoint($sm-bp) {
    background-image: url("../images/implantation/imp-bg__mob.png");
    padding: 0;
    max-width: 32rem;
    margin: 0 auto;
    background-size: contain;
    background-position: top;
    margin-bottom: 7.2rem;
  }
}

.implantation-banner__inf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80rem;
  gap: 4rem;
  @include breakpoint($xl-bp) {
    gap: 2.4rem;
  }
}

.implantation-banner__slider {
  max-width: 80rem;
  height: 12.6rem;
  @include breakpoint($sm-bp) {
    max-width: 34rem;
    position: relative;
    width: calc(100vw - 1.5rem);
    height: 11.2rem;
  }
}

.implantation-banner__slide {
  background: #DDDFE466;
  border: 0.1rem solid #D6D9DF;
  padding: 1.2rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    background: var(--white);
    border: none;
  }
}

.implantation-banner__title {
  font-family: "Cygre-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 3.8rem;
  line-height: 4.5rem;
  text-indent: 3.2rem;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
  @include breakpoint($sm-bp) {
    text-indent: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  & h1 {
    font-size: inherit;
    font-weight: inherit;
    @include breakpoint($sm-bp) {
      font-size: 2.4rem;
      line-height: 2.8rem;
      margin-bottom: 1.2rem;
    }
  }

  div {
    @include breakpoint($sm-bp) {
      font-size: 2rem;
      line-height: 2.4rem;
      max-width: 80%;
    }
  }

}

.implantation-banner__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
  @include breakpoint($xl-bp) {
    border-radius: 1.2rem;
    padding: 1.2rem;
    background-color: var(--white);
    font-size: 1.6rem;
    line-height: 2.1rem;
    gap: 1.6rem;
  }

  & div:first-child {
    @include breakpoint($sm-bp) {
      font-weight: 700;
      font-family: "Cygre-Bold", sans-serif;
    }
  }
}

.implantation-cost__container {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 57rem;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.implantation__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: square inside;
  width: 100%;
  @include breakpoint($sm-bp) {
    gap: 0.8rem;
    //max-width: 32rem;
  }

  & li {
    display: list-item;
    list-style-position: inside;
    padding-left: 0;
    text-indent: 0;
    white-space: nowrap;
  }

  & li::marker {
    color: var(--color2);
  }

  & li span {
    position: relative;
    left: -1rem;
  }
}

.implantation-banner__slider-container {
  position: relative;
  height: 14rem;
  overflow: hidden;
}

.pagination.implantation-pagination {
  @include breakpoint($sm-bp) {
    bottom: -33%;
  }
}

.implantation-cost__img {
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.implantation-cost__right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.implantation-cost__right .implantation-cost__right-top,
.implantation-cost__right .implantation-cost__right-list {
  border-radius: 1.2rem;
  overflow: hidden;
  background-color: var(--white);
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.implantation-cost__right .implantation-cost__right-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.implantation_cost h2 {
  @include breakpoint($sm-bp) {
    text-align: center;
  }
}

.implantation-cost__right-top {
  display: flex;
  flex-direction: column;
  gap: 0.58rem;

  & p {
    max-width: 95%;
  }
}

.implantation-cost__right-item {
  display: grid;
  grid-template-columns: 18.5rem 26.4rem 10.4rem;
  row-gap: 2rem;
  align-items: end;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.8rem;
  }

  & div.line {
    background-color: rgba(142, 142, 142, 1);
    @include breakpoint($sm-bp) {
      order: 3;
      grid-column: span 2;
    }
  }

  & div.implantation-cost__item {
    @include breakpoint($sm-bp) {
      order: 2;
      grid-column: span 2;
    }
  }

  & div:nth-child(1) {
    @include breakpoint($sm-bp) {
      order: 1;
      grid-column: span 2;
      max-width: 70%;
    }
  }

}

.implantation-cost__item {
  font-weight: 700;
  text-align: end;
}

.implantation-banner__slide-title {
  font-weight: 700;
  font-family: "Cygre-Bold", sans-serif;
}

.implantation-banner__inf button {
  align-self: center;
  @include breakpoint($xl-bp) {
    margin-top: 9rem;
  }
  @include breakpoint($sm-bp) {
    margin-top: 0;
  }
}

.list__item-bottom p.implantation-card__text,
.implantation-card__text {
  max-width: 73%;
}

.implantation-card__text {
  @include breakpoint($sm-bp) {
    max-width: 92%;
  }
}

.list__item-desc.mb {
  @include breakpoint($sm-bp) {
    margin-top: -9%;
  }
}

.implantation-num h2,
.implantation__about h2 {
  max-width: 55%;
  @include breakpoint($sm-bp) {
    max-width: 100%;
    text-align: center;
  }
}

.implantation__about-subtitle {
  font-size: 2.4rem;
  line-height: 2.8rem;
  max-width: 50%;
  @include breakpoint($sm-bp) {
    max-width: 95%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.implantation__item-title {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  @include breakpoint($sm-bp) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.implantation__item-text {
  @include breakpoint($xxl_bp) {
    font-size: 1.7rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
  }
}

.implantation-details__item {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.2rem;
  height: 25rem;
  background-color: var(--color1);
  color: var(--white);

  &.details__item--dark {
    background-color: var(--green);
  }

  &.details__item--light {
    background-color: var(--white);
    color: var(--color1);
  }
}

.implantation-num {
  margin-top: 8.4rem;
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 3.4rem;
    margin-bottom: 7.2rem;
  }
}

.implantation__about h2,
.implantation-num h2 {
  margin-bottom: 2.4rem;
}

.implantation-num h2 {
  margin-bottom: 2.4rem;
  @include breakpoint($sm-bp) {
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
  }
}

.implantation-num__inf {
  display: grid;
  grid-template-columns: 54.2rem 54.2rem;
  grid-template-rows: 49.1rem;
  gap: 7.2rem;
  margin-top: 5.6rem;
  @include breakpoint($xl-bp) {
    margin-top: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @include breakpoint($sm-bp) {
    gap: 0;
  }
}

.implantation-num__list {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }

  & .button {
    align-self: center;
    @include breakpoint($xl-bp) {
      margin-top: 2.3rem;
    }
  }

  & div h3 {
    @include breakpoint($sm-bp) {
      text-align: center;
    }
  }
}

.implantation-num__list-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: square inside;
  margin-top: 2rem;
  & li::marker {
    color: var(--color2);
  }

  &  li {
    display: list-item;
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -2rem;
  }
}

.implantation-num__item-container {
  display: grid;
  grid-template-columns: repeat(2, 26.2rem);
  grid-template-rows: repeat(2, 23.5rem);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
  }
  @include breakpoint($sm-bp) {
    display: flex;
    justify-content: start;
  }
}

.implantation-num__item {
  border-radius: 1.2rem;
  padding: 2rem;
  color: var(--white);
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.implantation-icon {
  width: 8rem;
  height: 8rem;
}

.implantation-num__item-title {
  font-family: "Cygre-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
}

.implantation-num__item-subtitle {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  @include breakpoint($sm-bp) {
    font-size: 2.3rem;
  }
}

.implantation-num__slider {
  @include breakpoint($sm-bp) {
    max-width: 36rem;
    //height: 22rem;
    //overflow: hidden;
    position: relative;
    padding-left: 1.5rem;
  }
}

.implantation-num__inf-left {
  @include breakpoint($sm-bp) {
    overflow: hidden;
    height: 30rem;
  }
}

.pagination.implantation__num-pagination {
  @include breakpoint($sm-bp) {
    bottom: -15%;
  }
}

.aligners__plan.implantation__plan {
  @include breakpoint($sm-bp) {
    margin-top: 0;
  }

  & .aligners__plan-heading,
  & h2 {
    @include breakpoint($sm-bp) {
      text-align: center;
    }
  }
}

.aligners__plan-container.implantation__plan-container {
  grid-template-rows: 23.3rem;
  @include breakpoint($sm-bp) {
    grid-template-rows: 30.3rem;
  }
}

.aligners__params.implantation__params {
  margin-bottom: 2rem;
  grid-template-columns: repeat(5, 1fr);
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.aligners__params.implantation__params div.active {
  width: 11.6rem;
  @include breakpoint($sm-bp) {
    width: 9.6rem;
  }
}

.aligners__params.implantation__params div:nth-child(5) {
  @include breakpoint($sm-bp) {
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  }
}

.aligners__plan-content.implantation__plan-content {
  padding: 2rem;
}

.process__slider.implantation__slider {
  @include breakpoint($sm-bp) {
    height: 53rem;
  }
}

.implantation-pay {
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 6.4rem;
  }
}

.implantation-pay h2 {
  margin-bottom: 2.4rem;
  @include breakpoint($sm-bp) {
    text-align: center;
  }
}

.implantation-pay__subtitle {
  max-width: 45%;
  @include breakpoint($sm-bp) {
    max-width: 100%;
    text-align: center;
  }
}

.implantation-pay__container {
  display: grid;
  grid-template-columns: repeat(2,39.2rem);
  gap: 2rem;
  grid-template-rows: 23.3rem;
  margin-top: 5.6rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,14rem);
  }
}

.implantation-pay__item {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.2rem;
  color: var(--white);
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.implantation-pay__item:nth-child(1) {
  background-color: var(--green);
}

.implantation-pay__item:nth-child(2) {
  background-color: var(--color1);
}

.implantation-pay__item-title {
  font-size: 2.4rem;
  line-height: 3.1rem;
  @include breakpoint($sm-bp) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

#implantation_team {
  margin-top: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
  }
}

.implantation__reason {
  display: grid;
  grid-template-columns: repeat(2, 49.5rem);
  grid-template-rows: 31.7rem;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 17.9rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 7.2rem;
    grid-template-columns: 1fr;
  }
}

.implantation__reason-right,
.implantation__reason-left {
  display: flex;
  flex-direction: column;
  color: var(--white);
  border-radius: 1.2rem;
  padding: 2rem;
}

.implantation__reason-right h2,
.implantation__reason-left h2 {
  margin-bottom: 3.2rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 2rem;
    text-align: center;
  }
}

.implantation__reason-right {
  background-color: var(--color1);
}

.implantation__reason-left {
  background-color: var(--green);
}


#implantation-team {
  margin-top: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
  }
}