.banner {
  background-image: url("../images/banner.jpg");
  background-size: inherit;
  background-repeat: no-repeat;
  padding: 6rem 5.6rem 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10.7rem;
  align-items: center;
  margin-bottom: 10.4rem;
  background-position: center;
  @include breakpoint($xxl-bp) {
    background-size: cover;
  }
  @include breakpoint($xl-bp) {
    padding: 2rem;
    position: relative;
    gap: 0;
    margin-bottom: 7rem;
  }
  @include breakpoint($sm-bp) {
    background-image: url("../images/banner-mob.png");
    padding:0;
    gap: 3rem;
    margin-bottom: 1.4rem;
    background-size: contain;
    background-position: top;
  }
}

.banner__inf h1 {
  text-align: center;
  @include breakpoint($xl-bp) {
   text-align: left;
   position: absolute;
    top: 2%;
    left: 4%;
  }
}

.banner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15rem;
  @include breakpoint($xl-bp) {
    padding: 2rem;
    gap: 3rem;
  }
  @include breakpoint($sm-bp) {
    padding-right: 0;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

.banner-icon__next-bottom {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.title-mob {
  @include breakpoint($xl-bp) {
    font-size: 2.2rem;
    line-height: 2.8rem;
    width: 75%;
    display: inline-block;
  }
}

.banner__linc {
  padding: 2rem;
  border-radius: 1.2rem;
  background-color: var(--color1);
  color: var(--white);
  display: flex;
  gap: 1.6rem;
  border: 1px solid transparent;
  max-width: 30.3rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    max-width: 100%;
    justify-content: space-between;
  }
}

.banner__linc:hover {
  border: 1px solid var(--color2);
  color: var(--color2);
  cursor: pointer;
}

.banner__inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint($sm-bp) {
    margin-top: 20rem;
    align-items: flex-start;
  }
}

.banner__wrapper .banner__linc,
.banner__inf .button {
  @include breakpoint($sm-bp) {
    width: 32rem;
  }
}

.banner__linc-svg {
  width: 4rem;
  height: 4rem;
}

.banner__container {
  margin: 5.6rem 0 4rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  max-width: 65rem;
  @include breakpoint($xl-bp) {
    margin-top: 13rem;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    gap: 0;
  }
}

.banner__slider {
  @include breakpoint($sm-bp) {
    padding-bottom: 5rem;
  }
}

.banner__item {
  background-color: var(--bg-main);
  border-radius: 1.2rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  border: 1px solid #D6D9DF;
  @include breakpoint($xl-bp) {
    gap: 2rem;
    background-color: var(--white);
    border: none;
  }
}

.banner__item-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.next__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.list {
  margin-bottom: 10.4rem;
  @include breakpoint($xl-bp) {
    margin-bottom: 0;
    padding-bottom: 7.2rem;
  }
}

.list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  @include breakpoint($xl-bp) {

    gap: 0.8rem;
  }
  @include breakpoint($sm-bp) {
    //grid-template-columns: repeat(3, 26rem);
    display: flex;
  }
}

.list__item-img {
  @include breakpoint($sm-bp) {
    width: 10rem;
  }
}

.list__column {
  display: grid;
  grid-template-rows: repeat(4, 16.4rem);
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-template-rows: repeat(4, 14rem);
    gap: 0.8rem;
  }
}

.list__item {
  border-radius: 1.2rem;
  padding: 1.6rem;
  overflow: hidden;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
  }
}

a:hover .list__item {
  background-color: var(--green);
  color: var(--white);
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
  }
}

.list__item--darc {
  background-color: var(--color1);
  color: var(--white);
}

.list__item-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  @include breakpoint($xl-bp) {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.list__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.list__item-bottom p {
  max-width: 70%;
}

.list__item-bottom div {
  width: 4rem;
  height: 4rem;
}

.card--bg1 {
  background-image: url("../images/card--bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.card--bg4 {
  background-image: url("../images/card--bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card--bg5 {
  background-image: url("../images/card--bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.card--bg6 {
  background-image: url("../images/card--bg6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card--bg5 .list__item-desc p {
  text-align: center;
}

.list__item-desc {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @include breakpoint($xl-bp) {
    gap: 0.6rem;
  }
}

.card--bg1 .list__item-desc{
  margin-left: 30%;
  @include breakpoint($xl-bp) {
    margin-left: 20%;
  }
}

.card--bg7,
.card--bg2 {
  display: flex;
  padding: 0 0 0 1.6rem;
  flex-direction: row;
  @include breakpoint($xl-bp) {
    padding: 0 0 0 0.5rem;
  }
}

.card--bg7 .list__item-desc {
  justify-content: center
}

.card--bg2 .list__item-desc {
  align-self: center;
}

.card--bg2 .list__item-title {
  width: min-content;
}


.card--bg3 {
  position: relative;
}

.card--bg3 .list__item-title {
  text-align: center;
}

.card--bg3 img {
  position: absolute;
  bottom: -7%;
  height: 9rem;
  left: -3%;
  @include breakpoint($xl-bp) {
    height: 5rem;
  }
}

.content {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 8.4rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    margin-bottom: 6.4rem;
    background-color: var(--bg-main);
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
    margin-bottom: 6.4rem;
  }
}

.content__left {
  display: flex;
  border-radius: 1.2rem;
  overflow: hidden;
  border: 1px solid var(--color2);
  @include breakpoint($sm-bp) {
    flex-direction: column;
    gap: 2.4rem;
    border: 0;
    overflow: visible;
  }
}
.content__br {
  @include breakpoint($sm-bp) {
    border-top: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
    border-left: 1px solid var(--color2);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
  }

}

.content__list-container {
  background-color: var(--bg-main);
  padding: 2.2rem 2.4rem 2.4rem 2.4rem;
  width: 42.7rem;
  @include breakpoint($xxl_bp) {
    width: 47.7rem;
  }
  @include breakpoint($xl-bp) {
    flex-grow: 1;
    width: 30rem;
  }
  @include breakpoint($sm-bp) {
    padding: 1.2rem 3.2rem 1.2rem 1.2rem;
    border-radius: 1.2rem;
    background-color: var(--white);
    border: 1px solid var(--color2);
    width: 100%;
  }
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
  white-space: nowrap;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
    gap: 1.2rem;
    list-style: inside block;
  }
}

.content__list li:hover {
  color: var(--color2);
}

sup {
  margin-right: 0.4rem;
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.content__img {
  width: 35rem;
  height: 55rem;
  flex-shrink: 0;
  @include breakpoint($xl-bp) {
    width: 44rem;
    height: 30rem;
  }
  @include breakpoint($sm-bp) {
    width: 32rem;
    height: 30rem;
  }
}

.content__img img {
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  height: 100%;
  @include breakpoint($sm-bp) {
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-bottom-right-radius: 0;
  }
}

.content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    gap: 2rem;
  }
  @include breakpoint($sm-bp) {
    background-color: var(--white);
    gap: 4.2rem;
    padding: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
    margin-top: -3%;
  }
}

.content__right-top {
  font-size: 2.4rem;
  line-height: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
    gap: 1.2rem;
  }
}

.content__right-bottom {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include breakpoint($sm-bp) {
    gap: 2.4rem;

  }
}

.content__right-bottom h2 {
  @include breakpoint($sm-bp) {
    font-family: "Cygre-Bold", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-wrap: balance;
  }

}

.team {
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
}

.team__title {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.8rem;
  @include breakpoint($sm-bp) {
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-align: center;
  }
}

.team__slider {
  height: 45rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @include breakpoint($sm-bp) {
    align-items: flex-start;
    margin-top: 2.4rem;
    flex-direction: row;
    height: 69rem;
  }

}

.team__item {
  display: flex;
  border-radius: 1.2rem;
  border: 1px solid var(--color2);
  overflow: hidden;

  @include breakpoint($sm-bp) {
    flex-direction: column;
    width: 40rem;
  }
}

.team__item-img {
  width: 25rem;
  height: 40rem;
  flex-shrink: 0;
  @include breakpoint($xl-bp) {
    width: auto;
    height: 33rem;
  }
  @include breakpoint($sm-bp) {
    width: auto;
    height: 29.1rem;
  }
}

.team__item-img img {
  border-bottom-left-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
  @include breakpoint($xl-bp) {
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 0;
  }
}

.team__item-desc {
  padding: 2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  width: 100%;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.2rem;
  }
}

.doctors-page.team__item-desc {
  @include breakpoint($sm-bp) {
    justify-content: flex-start;
    gap: 2.4rem;
  }
}

.doctors-page .doctor__linc {
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
  }
}

.team__item-title {
  font-weight: 700;
  @include breakpoint($xl-bp) {
   text-align: center;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.team__linc-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.team__item-icon {
  width: 4rem;
  height: 4rem;
}

.team__linc {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.team__linc:hover {
  cursor: pointer;
}

.team__item-person {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include breakpoint($xl-bp) {
    min-height: 7.5rem;
    gap: 1rem;
  }
}

.team__item-subtitle {
  color: var(--grey);
  @include breakpoint($xl-bp) {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.team-slider__container {
  @include breakpoint($sm-bp) {
    position: relative;
  }
}

.team__linc-text {
  position: relative;
}

.team__linc-text::before {
  content: '';
  position: absolute;
  height: 0.1rem;
  background-color: var(--color1);
  width: 100%;
  bottom: -0.6rem;
}

a:hover .team__linc-text::before {
  background-color: var(--color2);
}
.process__item-linc:hover .process__linc-text:after {
  background-color: var(--color2);
}

.price h2,
.surgery h2,
.standards h2,
.analytics h2,
.details {
  text-align: center;
}

.standards__container {
  margin-top: 5.6rem;
  margin-bottom: 7.2rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 33rem;
  grid-template-rows: repeat(2, 25.2rem);
  @include breakpoint($xl-bp) {
    margin-top: 2.4rem;
    gap: 1rem;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 18rem 18rem 18rem 18rem 25rem;
    height: 70rem;
    gap: 0;
  }
}

.standards__item-title {
  font-weight: 700;
}

.standards__item {
  //grid-column: 3 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: span 2;
  background-color: var(--white);
  border-radius: 1.2rem;
  border: 1px solid var(--color2);
  @include breakpoint($sm-bp) {
    grid-column: auto;
  }

}

.standards__item a {
  margin: 0 3.6rem;
  margin-bottom: -4%;
  @include breakpoint($sm-bp) {
    margin: 2rem 2.6rem;
  }
}

.surgery__img,
.standards__item-img {
  height: 40rem;
  margin-bottom: 1rem;
  @include breakpoint($xl-bp) {
    height: 37rem;
  }
  @include breakpoint($sm-bp) {
    height: 27rem;
  }
}

.standards__img-title {
  font-weight: 700;
  text-align: center;
}

.standards__img-subtitle {
  color: var(--grey);
  text-align: center;
}

.standards--darc {
  background-color: #405F64;
  color: var(--white);
}

.standards__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.standards__item-bottom p {
  width: 82%;
}

.icon {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}

.standards__item-img--border img {
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
  object-fit: fill;
  @include breakpoint($sm-bp) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

}

.order1 {
  @include breakpoint($sm-bp) {
    order: 1;
    background-color: var(--white);
    color: var(--color1);
  }
}

.order2 {
  @include breakpoint($sm-bp) {
    order: 2;
    color: var(--white);
    background: #405F64;
    margin-top: -33%;
  }
}

.order3 {
  @include breakpoint($sm-bp) {
    order: 3;
    background-color: var(--white);
    color: var(--color1);
    margin-top: -68%;
  }
}

.order4 {
  @include breakpoint($sm-bp) {
    order: 4;
    margin-top: -100%;
    height: 15rem;
  }
}

.order5 {
  @include breakpoint($sm-bp) {
    order: 5;
    border-top: none;
    margin-top: -95%;
    height: 37.5rem;
  }
}

a.order4 .list__item {
  border: 1px solid transparent;
  @include breakpoint($sm-bp) {
    border: 1px solid var(--color2);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 20rem;
  }
}

.details {
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 6.4rem;
    margin-top: 17rem;
  }
}

.details__slider {
  margin-top: 5.6rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    overflow: hidden;
    padding-bottom: 5rem;
    position: relative;
  }
}

.details__swiper-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(3, 29rem);
  }
}

.details__item {
  border-radius: 1.2rem;
  background-color: var(--color1);
  color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 37rem;
  overflow: hidden;
  @include breakpoint($sm-bp) {
    height: 25rem;
    padding: 1.2rem;
  }
}

.details__item-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.details__text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include breakpoint($sm-bp) {
    gap: 2.4rem;
  }
}

.details__item-subtitle,
.details__item-subtitle--dark {
  position: relative;
}

.details__item-subtitle::after {
  position: absolute;
  content: '';
  height: 0.1rem;
  width: 100%;
  background-color: var(--white);
  bottom: -0.5rem;
  left: 0;
  @include breakpoint($sm-bp) {
    bottom: -1rem;
  }
}

.details__item-subtitle--dark::after {
  background-color: var(--color1);
}

.details__item--light {
  background-color: var(--white);
  color: var(--color1);
}

.details__item--dark {
  background-color: #405F64;
  padding: 2rem 0 0;
}

.details__img {
  height: 21rem;
  width: 100%;
  @include breakpoint($sm-bp) {
    height: 12rem;
  }
}

.details__img img {
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.details__button {
  @include breakpoint($xl-bp) {
    padding-right: 4rem;
    padding-left: 4rem;
  }

}

.details__button:hover {
  background-color: var(--grey);
}

.process {
  margin-bottom: 10rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 5.6rem;
  }
}

.process__slider {
  height: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @include breakpoint($sm-bp) {
    height: 47rem;
    align-items: flex-start;
    margin-top: 2rem;
    padding-bottom: 5rem;
    overflow: hidden;
  }
}

.process__item {
  padding: 2rem;
  background-color: var(--white);
  display: flex;
  gap: 2rem;
  border-radius: 1.2rem;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    align-items: center;
  }
}

.process__img-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.process__img {
  width: 21rem;
  height: 12.8rem;
  position: relative;
  @include breakpoint($sm-bp) {
    width: 25rem;
  }
}

.process__img:nth-child(1)::before {
  content: 'до';
  position: absolute;
  left: 4%;
  bottom: 6%;
  color: var(--white);
}

.process__img:nth-child(2)::before {
  content: 'после';
  position: absolute;
  left: 4%;
  bottom: 6%;
  color: var(--white);
}

.process__img img {
  border-radius: 1.2rem;
}

.process__item-inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.process__item-title {
  font-weight: 700;
}


.process-svg {
  width: 2.4rem;
  height: 2.4rem;
}

.process__item-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2.4rem;
  margin-bottom: 2.5rem;
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.process__item--line {
  display: flex;
  justify-content: space-between;
}

.process__item--elem,
.process__item-linc {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.process__item-linc {
  align-items: center;
  font-weight: 700;
  align-self: flex-end;
  @include breakpoint($sm-bp) {
    margin-top: 1rem;
    align-self: center;
  }
}

.process__linc-text {
  position: relative;
}

.process__linc-text::after {
  position: absolute;
  content: '';
  height: 0.1rem;
  width: 100%;
  background-color: var(--color1);
  bottom: -1rem;
  left: 0;
}

.process__linc-text:hover {
  color: var(--color2);
}

.record-content {
  max-width: 128.6rem;
  margin-left: calc((100% - 121.6rem) / 2);
  margin-right: auto;
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 62rem;
  margin-bottom: 8.7rem;
  @include breakpoint($cos_bp) {
    max-width: 126rem;
    margin-left: calc((100% - 120rem) / 2);
    background-size: 65rem;
  }
  @include breakpoint($xxl_bp) {
    max-width: 134rem;
    margin-left: calc((100% - 130rem) / 2);
    background-size: 70rem;
  }
  @include breakpoint($hh) {
    max-width: 93rem;
    margin-left: calc((100% - 90rem) / 2);
    background-size: 39rem;
  }

  @include breakpoint($sm-bp) {
    max-width: 32rem;
    margin-bottom: 6.7rem;
    background-image: none;
    height: 52rem;
    margin-left: auto;
  }
}

.record__wrapper .record {
  @include breakpoint($sm-bp) {
    margin: 1rem;
  }
}

.record {
  width: 50rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    width: 100%;
  }
}

.record__title {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 2.4rem;
  @include breakpoint($sm-bp) {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}

.record__icon {
  margin-bottom: 2.4rem;
}

.form {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  @include breakpoint($sm-bp) {
    margin: 2.4rem 0;
  }
}

.form span {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.form button {
  margin: 1.6rem 0 2.4rem;
  @include breakpoint($sm-bp) {
    margin: 0;
  }
}

.form select {
  width: 100%;
  font-size: 1.6rem;
}

.record__subtitle {
  max-width: 80%;
  @include breakpoint($sm-bp) {
    max-width: 100%;
  }
}

.input {
  border-bottom: 1px solid var(--grey);
  position: relative;
}

.italic {
  font-style: italic;
}

.reviews__slider {
  position: relative;
  margin-top: 5.6rem;
  padding-bottom: 5.6rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
  }
}


.reviews__item-top,
.reviews__item-bottom {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
}

.reviews__item-top, {
  gap: 2rem;
}

.reviews__item-bottom {
  flex-direction: column;
  height: 40rem;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    justify-content: flex-start;
    padding: 1.2rem;
    height: 39rem;
  }
}

.reviews__item-profile {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.8rem;
}

.reviews__item-icon {
  width: 6rem;
  height: 8.5rem;
  //flex-shrink: 0;
}

.reviews__item-stars {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
}

.reviews__item-stars span {
  display: block;
  background: url(../images/star.svg) center / contain no-repeat;
  width: 20px;
  height: 19px;
}

.reviews__data {
  color: var(--grey);
}

.reviews__item-top--title {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.reviews__item-top--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__item-nick {
  font-weight: 700;
}

.reviews__item-text {
  margin: 1.6rem 0;
}

.reviews__linc {
  position: relative;
  align-self: flex-start;
}

.reviews__linc::before {
  content: '';
  position: absolute;
  height: 0.1rem;
  background-color: var(--color1);
  width: 100%;
  bottom: -0.3rem;
}

.reviews__linc:hover {
  cursor: pointer;
  color: var(--color2);
}

.reviews-button-prev,
.reviews-button-next {
  bottom: 0;
}

.reviews__platform {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 5.6rem;
  @include breakpoint($xl-bp) {
    overflow: auto;
  }
  @include breakpoint($sm-bp) {
    //margin-top: 2.4rem;
    grid-template-columns: repeat(4, 29rem);
    gap: 1.3rem;
  }

  &::-webkit-scrollbar {
    display: none
  }
}

.braces,
.analytics {
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 6.4rem;
  }
}

.braces {
  @include breakpoint($sm-bp) {
    margin-top: 3rem;
  }
}

.braces h2,
.reviews h2 {
  @include breakpoint($sm-bp) {
    text-align: center;
  }
}

.calculator__container h2 {
  @include breakpoint($sm-bp) {
    max-width: 96%;
    text-align: center;
  }
}

.braces__text {
  margin-top: 2.4rem;
  max-width: 37%;
  @include breakpoint($sm-bp) {
    margin: 2.4rem 0;
    max-width: 100%;
    padding: 0 2.4rem;
  }
}

.braces__item {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding-bottom: 2rem;
  overflow: hidden;
  @include breakpoint($sm-bp) {
    padding-bottom: 1.2rem;
    width: 40rem;
  }
}


.braces__title {
  padding-right: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: end;
  margin-top: 1.6rem;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
    padding-right: 1.2rem;
  }
}

.braces__item-img {
  height: 38rem;
  @include breakpoint($sm-bp) {
    height: 32rem;
  }
}

.braces__text-subslider {
  max-width: 40%;
  margin-top: 2.4rem;
  @include breakpoint($sm-bp) {
    max-width: 100%;
  }
}

.video__slider,
.articles__slider,
.braces__slider {
  padding-top: 3.6rem;
  position: relative;
  @include breakpoint($sm-bp) {
    padding-top: 3.6rem;
    padding-bottom: 5rem;
  }
}

.articles__slider {
  @include breakpoint($sm-bp) {
    margin-top: 1rem;
  }
}

//.articles__slider,
//.braces__slider {
//  @include breakpoint($sm-bp) {
//    padding-top: 0;
//    padding-bottom: 5rem;
//  }
//}

.surgery {
  margin-bottom: 10.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 6.4rem;
  }
}

.surgery__container {
  display: flex;
  justify-content: space-between;
  margin-top: 5.6rem;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    flex-direction: column;
    gap: 0;
  }
}

.analytics__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5.6rem;
  gap: 2rem;
  justify-items: center;
  @include breakpoint($xl-bp) {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}

.analytics__item {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  height: 40rem;
  width: 60rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    width: 100%;
    height: auto;
    gap: 2rem;
  }
}

.analytics__text,
.surgery__item-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

a.analytics__button {
  font-family: "Cygre-Regular", sans-serif;
  font-weight: 400;
}

.analytics__button {
  display: flex;
  justify-content: space-between;
  width: 36rem;
  align-items: center;
  @include breakpoint($sm-bp) {
    width: 100%;
    margin-top: 3rem;
  }
}

.surgery__item {
  height: 53rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  @include breakpoint($xl-bp) {
    height: 60rem;
  }
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    height: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid var(--color2);
  }
}

.surgery__item-text p:nth-child(3),
.surgery__item-text p:nth-child(4),
.surgery__item-text p:nth-child(5) {
  @include breakpoint($sm-bp) {
   display: none;
  }
}

.surgery__img-container {
  border-radius: 1.2rem;
  position: relative;
  width: 33rem;
  flex-shrink: 0;
  border: 1px solid var(--color2);
  background-color: var(--white);
  @include breakpoint($sm-bp) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
    padding-bottom: 4rem;
  }
}

.surgery__img {
  margin-bottom: 2.4rem;
  @include breakpoint($xl-bp) {
    height: 40rem;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 1.4rem;
    height: 30rem;
  }
}

.surgery__img-container a {
  margin: 0 4rem;
  position: absolute;
  bottom: -3%;
  @include breakpoint($sm-bp) {
    bottom: -4%;
  }
}

.surgery__img-container .standards__img-subtitle {
  margin: 0.8rem 0;
}

.price {
  background-color: var(--white);
  border-radius: 1.2rem;
  padding: 8.4rem 2rem 10.4rem 2rem;
  @include breakpoint($sm-bp) {
    padding: 0 0 0 1.5rem;
    background-color: var(--bg-main);
  }
}

.price__item {
  border-radius: 1.2rem;
  padding: 2.2rem 2rem 2rem 2rem;
  background-color: #DDDFE4;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  position: relative;
  @include breakpoint($sm-bp) {
    background-color: var(--white);
  }
}

.price__item.border:hover {
  cursor: auto;
  background-color: #DDDFE4;
}

.price__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.price__sum {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center
}


.line {
  width: 100%;
  height: 0.1rem;
  background-color: #4A6169;
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-self: flex-start;
}

.price__list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price__item-svg {
  width: 2.4rem;
  height: 2.7rem;
  flex-shrink: 0;
}

.price__item-dark {
  background-color: var(--color1);
  color: #FEFEFE;
}

.price__item-dark .price__title {
  text-transform: uppercase;
}

.price-swiper__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 5.6rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2.4rem;
    gap: 0;
  }
}

.price__choice {
  background-color: var(--color2);
  position: absolute;
  border-radius: 1.2rem;
  top: -4%;
  padding: 0.8rem 2rem;
  margin: 0 auto;
}

.calculator__container {
  margin-top: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
  }
}

.calculator__subtitle {
  margin: 4rem 0 5.4rem;
  max-width: 55%;
  font-size: 2.4rem;
  line-height: 2.8rem;
  @include breakpoint($xl-bp) {
    margin: 2.4rem 0;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.calculator__inf {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: start;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.calculator__right-top {
  border-radius: 1.2rem;
  padding: 2rem;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    gap: 1.8rem;
  }
}

.calculator__top-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  @include breakpoint($sm-bp) {
    gap: 1.2rem;
  }
}

.calculator__top-num,
.questions__num {
  color: var(--color2);
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 5.4rem;
  flex-shrink: 0;
}

.calculator__top-text {
  color: var(--white);
  font-size: 2.4rem;
  line-height: 2.9rem;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.calculator__right-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.questions {
  width: 80rem;
  margin: 8.4rem auto;
  @include breakpoint($sm-bp) {
    margin: 0  auto 6.4rem ;
    width: 32rem;
  }
}

.questions h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5.6rem;
  @include breakpoint($sm-bp) {
    margin: 2.4rem 0;
  }
}

.questions__items {
  border-radius: 1.2rem;
  overflow: hidden;
  margin: 0 auto;
}

.questions__subtitle {
  background-color: var(--color1);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions__question {
  font-weight: 700;
  color: var(--white);
}

.questions__subheading {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.questions__svg svg {
  stroke: var(--color2);
  width: 2.2rem;
  height: 2.2rem;
  @include breakpoint($sm-bp) {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.questions__block {
  background-color: var(--white);
}

.questions__block div {
  padding: 2rem;
}

.questions__item:hover {
  cursor: pointer;
}

.questions__item:not(:last-child) {
  border-bottom: 0.1rem solid #4A6169;
}

.video {
  margin-top: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
  }
}

.video__title,
.articles__title {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
    text-align: center;
    font-size: 2.8rem;
    line-height: 3.3rem;
    font-weight: 800;
  }
}

.video .team__title,
.articles .team__title {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.articles__item {
  display: flex;
  background-color: var(--white);
  border-radius: 1.2rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  height: 55rem;
  @include breakpoint($sm-bp) {
    height: 43rem;
  }
}

.articles-img {
  height: 31rem;
  align-self: stretch;
  @include breakpoint($sm-bp) {
    height: 18rem;
    width: 100%;
  }
}

.articles__item-title {
  font-weight: 700;
  margin: 2rem 0 1.2rem;
  @include breakpoint($sm-bp) {
    margin: 1.2rem 0;
  }
}

.articles__item-linc {
  text-decoration: underline;
  justify-content: center;
  display: flex;
  margin-top: 3.7rem;
  @include breakpoint($sm-bp) {
    margin-top: 1.3rem;
  }
}

.articles {
  margin-top: 3rem;
  margin-bottom: 4rem;
  @include breakpoint($sm-bp) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.articles-text {
  padding: 0 2rem 2rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    padding: 0 1.2rem 1.2rem 1.2rem;
  }
}

a.articles__item .articles__text {
  color: var(--color1);
}
a.articles__item:hover div.articles-text .articles__item-title {
  color: var(--color1);
}



.video-item__title {
  font-weight: 700;
  overflow: hidden;
  height: 2em;
}

.video-item {
  border-radius: 1.2rem;
  overflow: hidden;
  background-color: var(--white);
}

.video-text__slider {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.video-text__slider div {
  height: 2em;
  @include breakpoint($sm-bp) {
    height: 3em;
  }
}

.record__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
  @include breakpoint($sm-bp) {
    margin: 5.4rem auto 7.5rem;
  }
}