.online__wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($hh) {
    max-width: 90rem;
  }
}

.online__process-wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }
  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }
}

.online {
  background-image: url("../images/online/online-banner.png");
  background-repeat: no-repeat;
  border-radius: 1.2rem;
  background-size: inherit;
  margin-bottom: 10.4rem;
  padding: 8.3rem 4rem 2.4rem 4rem;
  @include breakpoint($xxl-bp) {
    background-size: cover;
  }
  @include breakpoint($xl-bp) {
    padding: 2rem 4rem;
  }
  @include breakpoint($sm-bp) {
    background-image: url("../images/online/online-banner__mob.png");
    max-width: 32rem;
    margin: 0 auto;
    background-size: contain;
    background-position: top;
    margin-bottom: 4.4rem;
    padding: 0;
    height: 60rem;
    position: relative;
  }
}

.online .button {
  @include breakpoint($sm-bp) {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.online h1 {
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  @include breakpoint($sm-bp) {
    font-family: "Cygre-Bold", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.online__text {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    margin-bottom: 2rem;
  }
  @include breakpoint($sm-bp) {
    position: absolute;
    bottom: 12%;
    background-color: var(--white);
    border-radius: 1.2rem;
    padding: 1.2rem;
  }
}

.online__text .button {
  align-self: center;
}

.online__list {
  font-size: 2.4rem;
  line-height: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: square;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2.1rem;
    gap: 1.2rem;
  }
}

.online__list li::marker {
  @include breakpoint($sm-bp) {
    color: var(--color2);
  }
}

.online__list li {
  @include breakpoint($xl-bp) {
    display: list-item;
    list-style-position: inside;
    padding-left: 2rem;
    text-indent: -2rem;
  }
}

.online .banner-icon__next-bottom {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.online__questions {
  background-image: url('../images/online/sing.png');
  background-position: 97% 54%;
  background-repeat: no-repeat;
  background-size: 29rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 10.4rem 4rem;
  margin-bottom: 10.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 6.4rem;
    background-image: none;
    padding: 1.2rem;
  }
}

.online__questions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
  }
}

.online__questions h2 {
  text-align: center;
  @include breakpoint($sm-bp) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.online__questions-list {
  font-size: 2.4rem;
  line-height: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  list-style: square inside;
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 2.1rem;
    gap: 2rem;
  }
}

.online__questions-list li::marker {
  color: var(--color2);
}

.online__questions-list li {
  display: list-item;
  list-style-position: inside;
  padding-left: 2rem;
  text-indent: -2rem;
  @include breakpoint($xl-bp) {
    text-indent: -3rem;
  }
  @include breakpoint($sm-bp) {
    text-indent: -2rem;
  }
}

.online__questions-list li span {
  position: relative;
  left: -2.5%;
}

.online__complex {
  display: grid;
  grid-template-columns: 85rem 42rem;
  gap: 1.9rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.online__complex-content {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  margin-bottom: 8.4rem;
  @include breakpoint($xl-bp) {
    background-color: transparent;
    margin-bottom: -1.6rem;
    padding: 0;
  }
}

.online__complex h2 {
  text-align: center;
  max-width: 73%;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint($xl-bp) {
    max-width: 100%;
  }
}

.online__complex-img {
  padding: 1.5rem 0;
}

.online__complex-img .button {
  width: 100%;
}

.online__img {
  height: 35.3rem;
  margin-bottom: 2rem;
  border-radius: 1.2rem;
  overflow: hidden;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.online__complex-cards {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  margin-top: 6rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    margin-top: 3.5rem;
  }
}

.online__card-left,
.online__card-right {
  border-radius: 1.2rem;
  padding: 2rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.online__card-left {
  padding: 2rem;
  color: var(--white);
  background-color: var(--color1);
  position: relative;
  border: 1px solid var(--color2);
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.online__card-right {
  padding: 2rem;
  color: var(--white);
  background-color: var(--green);
}

.online__choice {
  color: var(--color1);
  background-color: var(--color2);
  border-radius: 1.2rem;
  padding: 0.8rem 2rem;
  text-align: center;
  position: absolute;
  top: -8%;
}

.online__card-price,
.online__card_title {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;
  text-align: center;
}

.online__card_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.online__card-right .online__card_text {
  gap: 4rem;
  @include breakpoint($sm-bp) {
    gap: 1rem;
  }
}

.online__line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--grey);
}

.online__icon {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.online__sign-clock {
  width: 2.4rem;
  height: 2.4rem;
}

.online__sign-clock img {
  object-fit: contain;
}

.online__icon-text {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
}

.online__process {
  margin-bottom: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 6.4rem;
  }
  h2 {
    text-align: center;
  }
}

.online__process-slider {
  margin-top: 5.6rem;
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    padding-left: 2rem;
    position: relative;
  }
}

.online__slide {
  border-radius: 1.2rem;
  overflow: hidden;
}

.online__slide-img {
  height: 17.9rem;
}

.online__swiper {
  height: 32.6rem;
  @include breakpoint($sm-bp) {
    overflow: hidden;
    position: relative;
    width: calc(100vw - 1.5rem);
    max-width: 34rem;
  }
}

.pagination.online__swiper__pagination {
  position: relative;
}

.online__slide-desc {
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15.4rem;
  align-items: center;
}

.online__linc {
  width: 59rem;
  height: 19rem;
  border-radius: 1.2rem;
  background-color: var(--color1);
  padding: 1.6rem;
  color: var(--white);
  position: absolute;
  top: 0;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    position: static;
    width: 100%;
    height: 14rem;
  }
}

.online__linc-inf {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.online__record {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.online__linc h2 {
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.online__record-content.record-content {
  @include breakpoint($xl-bp) {
    height: 9rem;
  }
}