.operation__wrapper {
  width: 100%;
  max-width: 121.6rem;
  margin: 0 auto;
  @include breakpoint($cos_bp) {
    max-width: 120rem;
  }

  @include breakpoint($xxl_bp) {
    max-width: 130rem;
  }

  @include breakpoint($hh) {
    max-width: 90rem;
  }
}

.operation-banner {
  background-image: url("../images/operation/operation-banner.png");
  background-repeat: no-repeat;
  border-radius: 1.2rem;
  padding: 6rem 1rem 3.1rem 5.6rem;
  background-size: inherit;
  margin-bottom: 10.4rem;
  @include breakpoint($xxl-bp) {
    background-size: cover;
  }
  @include breakpoint($xl-bp) {
    background-size: contain;
  }
  @include breakpoint($sm-bp) {
    background-image: url("../images/operation/operation-banner__mob.png");
    padding: 0;
    max-width: 32rem;
    margin: 0 auto;
    background-size: contain;
    background-position: top;
    margin-bottom: 7.2rem;
  }
}

.operation__item {
  background-color: var(--bg-main);
  border-radius: 1.2rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  border: 1px solid #D6D9DF;
  @include breakpoint($xl-bp) {
    gap: 2rem;
    background-color: var(--white);
    border: none;
  }
}

.articulation__item:nth-child(2) {
  background: #DDDFE466;
}

.articulation__item:nth-child(4) {
  background: #DDDFE466;

}


.banner__container.banner__operation {
  @include breakpoint($xl-bp) {
    margin-top: 5rem;
  }
  @include breakpoint($sm-bp) {
    margin-top: 0;
  }
}

.operation-banner h1 {
  font-size: 4rem;
  line-height: 4.8rem;
  margin-bottom: 3.2rem;
  text-align: center;
  @include breakpoint($xl-bp) {
    text-align: left;
  }
  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
    line-height: 1.92rem;
    margin-bottom: 2rem;
    height: 21rem;
    display: grid;
    padding-top: 2.8rem;
    width: 60%;
    margin-right: 30%;

  }
}

.operation__inf {
  display: flex;
  flex-direction: column;
  max-width: 64.9rem;
  align-items: center;
}

.operation__inf-text {
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  @include breakpoint($xl-bp) {
    text-align: left;
  }
  @include breakpoint($sm-bp) {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.1rem;
    background-color: var(--white);
    border-radius: 1.2rem;
    padding: 1.2rem;
    margin-bottom: 2rem;
    max-width: 100%;
  }
}

.operation-icon__next-bottom {
  width: 1.2rem;
  height: 1.2rem;
  margin: 1.8rem auto 0;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.aligners__plan#step-operation {
  @include breakpoint($sm-bp) {
    margin-top: 0;
  }

  & h2 {
    @include breakpoint($sm-bp) {
      text-align: center;
    }
  }

  & .aligners__plan-heading {
    @include breakpoint($sm-bp) {
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.1rem;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }

  & .center {
    @include breakpoint($sm-bp) {
      font-size: 2.4rem;
      line-height: 2.8rem;
    }
  }
}

.operation__about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 30.7rem;
  gap: 2rem;
  margin-bottom: 8.3rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: 40.5rem 27.5rem;
    gap: 2.4rem;
    margin-bottom: 7.2rem;
  }
}

.operation__about-left {
  border-radius: 1.2rem;
  padding: 2rem;
  background-color: var(--color1);
  color: var(--white);
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
  }
}

.operation__about-title {
  font-family: "Cygre-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: var(--white);
  margin-bottom: 2rem;
  max-width: 82%;
  @include breakpoint($sm-bp) {
    max-width: 100%;
    font-family: "Cygre-Bold", sans-serif;
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 1.2rem;
  }
}

.operation__about-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.5rem;
  @include breakpoint($sm-bp) {
    max-width: 93%;
  }
}

.operation__about-right {
  display: grid;
  grid-template-columns: 23.7rem 36.1rem;
  background-color: var(--white);
  grid-template-rows:  6rem 15rem 7rem;
  border-radius: 1.2rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: 23.7rem auto;
    grid-template-rows: auto;
    overflow: hidden;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 8rem auto 4rem;
    column-gap: 1.2rem;
    grid-template-rows: 8rem auto;
    padding: 1.2rem;
  }

  & .operation__about-text {
    color: var(--color1);
    padding-left: 2rem;
    padding-right: 4rem;
    @include breakpoint($sm-bp) {
      padding-left: 0;
      padding-right: 0;
      order: 4;
      grid-column: span 3;
      margin-top: 1.2rem;
    }
  }
}

.operation__about-img {
  height: 30.7rem;
  grid-row: span 3;
  @include breakpoint($sm-bp) {
    width: 8rem;
    height: 8rem;
    border-radius: 1.2rem;
    overflow: hidden;
    order: 1;
  }
}

.operation__sing {
  width: 5rem;
  height: 5rem;
  padding-top: 0.8rem;
  padding-right: 0.8rem;
  justify-self: end;
  @include breakpoint($sm-bp) {
    order: 3;
    width: 3rem;
    height: 4rem;
    padding-top: 0;
    padding-right: 0;
    margin-top: -1rem;
  }
}

.operation__about-subtext {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  @include breakpoint($sm-bp) {
    padding-left: 0;
    order: 2;
  }

  & div {
    color: var(--grey);
  }

  & b.hide-desc {
    @include breakpoint($sm-bp) {
      line-height: 2;
    }
  }

  & b.hide {
    margin-bottom: 1rem;
  }
}

.step-title {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
}

.operation__plan-content {
  padding: 2rem 1.8rem 2rem;
  background-color: var(--white);
  @include breakpoint($sm-bp) {
    order: 1;
    padding: 2.4rem 1.2rem;
  }
}

.operation__plan-container {
  max-width: 100rem;
  border-radius: 1.2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 38rem 62rem;
  grid-template-rows: minmax(min-content, max-content);
  justify-content: center;
  margin-top: 5.6rem;
  width: fit-content;
  @include breakpoint($xl-bp) {
    grid-template-columns: 33rem 56rem;
  }
  @include breakpoint($sm-bp) {
    margin-top: 2.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.operation__surgery {
  margin-bottom: 10.4rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 5.9rem;
  }
}

.operation__surgery h2 {
  text-align: center;
  margin-bottom: 5.6rem;
  @include breakpoint($sm-bp) {
    margin-bottom: 2.4rem;
  }
}

.operation__surgery-container {
  display: grid;
  grid-template-columns: auto 33.4rem;
  grid-template-rows: 53.6rem;
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.2rem;
    border-radius: 1.2rem;
  }
}

.operation__surgery-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  @include breakpoint($sm-bp) {
    border: 0.1rem solid var(--color2);
  }
}

.operation__surgery-content {
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: 8rem auto;
    grid-template-rows: 11.1rem;
    gap: 1.2rem;
  }
}

.operation__text-item {
  @include breakpoint($sm-bp) {
    display: none;
  }
  &.active {
    @include breakpoint($sm-bp) {
      display: block;
    }
  }
}

.operation__text-item:first-child {
  @include breakpoint($sm-bp) {
    display: block;
  }
}

.operation__text-item:nth-child(2) {
  @include breakpoint($sm-bp) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
  }
}

.operation__text-item:nth-child(2)::after {
  @include breakpoint($sm-bp) {
   content: "...";
  }
}

.operation__text-item.active:nth-child(2)::after {
  content: "";
}

.operation__img  img{
  width: 100%;
  height: 40.9rem;
  overflow: hidden;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  @include breakpoint($xl-bp) {
    height: 37.9rem;
  }
  @include breakpoint($sm-bp) {
    height: 11rem;
    width: 8rem;
    border-radius: 1.2rem;
  }
}

.operation__surgery-person {
  border-radius: 1.2rem;
  border: 0.1rem solid var(--color2);
  background-color: var(--white);
  position: relative;
  @include breakpoint($sm-bp) {
    position: static;
    min-height: 21.6rem;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2.4rem;
  }
}

.operation__img-subscribe {
  padding-top: 1.4rem;
  @include breakpoint($sm-bp) {
    padding-top: 0;
  }
}

.button--card-person {
  position: absolute;
  left: 13%;
  bottom: -3%;
  @include breakpoint($sm-bp) {
    position: static;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}

.operation__img-title {
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 0.8rem;
  text-align: center;
  @include breakpoint($sm-bp) {
    text-align: left;
  }
}

.operation__img-text {
  text-align: center;
  color: var(--grey);
  @include breakpoint($sm-bp) {
    text-align: left;
  }
}

.operation__img-subscribe a.button {
  position: absolute;
  bottom: -58%;
  left: 13%;
  @include breakpoint($sm-bp) {
    bottom: -13%;
  }
}

.operation__linc {
  display: none;
  @include breakpoint($sm-bp) {
    margin-right: 0;
    color: var(--grey);
    position: relative;
    display: inline-block;
    margin-left: 70%;
  }
}

.operation__linc::before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 0.1rem;
  bottom: -0.2rem;
  width: 100%;
  left: 0;
  background: var(--grey);
}

.reason-operation__container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 28.6rem 38rem;
  gap: 2rem;
  @include breakpoint($xl-bp) {
    grid-template-rows: 28.6rem 10rem 40rem;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 40rem 6rem;
    gap: 4rem;
  }
}

.reason-operation__inf {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    grid-column: span 2;
  }
  @include breakpoint($sm-bp) {
    grid-column: span 1;
    padding: 1.2rem;
    order: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1.2rem;
  }
}

.reason-operation__inf h2 {
  max-width: 60%;
  @include breakpoint($sm-bp) {
    max-width: 100%;
  }
}

.reason-operation-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.8rem;
}

.reason-operation__inf-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  @include breakpoint($xl-bp) {
    grid-column: span 2;
  }
  @include breakpoint($sm-bp) {
    grid-column: span 1;
    order: 3;
  }
}

.reason-operation__inf-item div {
  max-width: 78%;
  text-align: end;
  @include breakpoint($sm-bp) {
    max-width: 100%;
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 3rem;
  }
}

.reason-operation__slider {
  grid-column: span 2;
  @include breakpoint($sm-bp) {
    order: 2;
    margin-left: 1.5rem;
    grid-column: span 1;
  }
}

.reason-slide {
  border-radius: 1.2rem;
  background-color: var(--white);
}

.reason-slide__title {
  text-align: center;
  font-family: "Cygre-Bold", sans-serif;
  font-weight: 700;
  padding: 1.6rem 2rem 2rem;
  @include breakpoint($sm-bp) {
    padding: 0.8rem 1rem 1.2rem;
    text-align: right;
    font-size: 1.5rem;
  }
}

.reason-operation__swiper {
  height: 41rem;
  @include breakpoint($xl-bp) {
    height: 33rem;
    margin-top: 2.7rem;
  }
  @include breakpoint($sm-bp) {
    overflow: hidden;
    position: relative;
    width: calc(100vw - 1.5rem);
    max-width: 34rem;
  }
}

.pagination.reason-operation__pagination {
  position: relative;
}

.operation-ortem {
  display: grid;
  grid-template-columns: 28.3rem 90.7rem;
  gap: 2rem;
  margin-bottom: 8.4rem;
  @include breakpoint($xl-bp) {
    margin-bottom: 6.4rem;
    grid-template-columns: 1fr;
    margin-top: 9rem;
  }
}

.operation-ortem__img {
  height: 7.8rem;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.operation-ortem__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#standarts-operation {
  margin-top: 8.4rem;
  @include breakpoint($sm-bp) {
    margin-top: 6.4rem;
  }
}

.operation-ortem__item {
  border-radius: 1.2rem;
  background-color: var(--white);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    gap: 1.2rem;
  }

  & h2 {
    text-align: center;
  }
}

.operation-ortem__text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.operation-ortem__img {
  margin-top: 9.5rem;
  position: sticky;
  top: 19.5rem;
  z-index: 10;
  @include breakpoint($xl-bp) {
    position: static;
  }
}

