.portfolio {
  padding: 8.4rem 0 10.4rem;
  @include breakpoint($xl-bp) {
    padding: 5.6rem 0 7.2rem;
  }
}

.portfolio h1 {
  text-align: center;
}

.portfolio__container {
  margin: 10.4rem 0 5.6rem;
  @include breakpoint($xl-bp) {
    margin: 5.6rem 0 ;
  }
}

.portfolio__list {
  display: flex;
  gap: 4rem;
}

.portfolio__content {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.portfolio__item.active {
  font-weight: 700;
}

.portfolio__item:hover {
  cursor: pointer;
  color: var(--color2);
}