.answer h1 {
  text-align: center;
  margin: 6.4rem auto 5.6rem;
  @include breakpoint($sm-bp) {
    margin: 2rem auto 6.3rem;
  }
}

.answer__container {
  padding-top: 5.6rem;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  margin-bottom: 6.6rem;
  @include breakpoint($sm-bp) {
    padding-top: 4rem;
    margin-bottom: 7.2rem;
    gap: 2rem;
  }
}

.answer__title h3 {
  max-width: 86%;
  @include breakpoint($sm-bp) {
    max-width: 100%;
  }
}

.answer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  width: 85rem;
  background: var(--white);
  border-radius: 1.2rem;
  border: 0.1rem solid var(--color1);
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    width: 100%;
  }
}

.answer__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    gap: 1.2rem;
  }
}

.answer__icon {
  width: 8rem;
  height: 8rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.views__container {
  display: flex;
  color: var(--grey);
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

div .view-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.answer__inf {
  color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @include breakpoint($sm-bp) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.answer__person {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.answer__person-name {
  font-weight: 700;
  & span {
    color: var(--color2);
  }
}

.answer__person-profession {
  color: var(--grey);
}

.answer__person-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.answer__filter {
  display: flex;
  justify-content: space-between;
}

.answer__wrapper {
  max-width: 85rem;
  margin-right: auto;
  margin-left: auto;
  @include breakpoint($hh) {
    max-width: 90rem;
  }
  @include breakpoint($sm-bp) {
    max-width: 32rem;
  }
}

.answer__filter-left {
  display: flex;
  gap: 4rem;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    gap: 2rem;
  }
}

.heading {
  position: relative;
  padding: 0.8rem 1.6rem 1.1rem 1.6rem;
  border-radius: 1.2rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14.5rem;

}

.heading-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.heading:hover {
  cursor: pointer;
}

.heading__container {
  background-color: var(--white);
  border-radius: 1.2rem;
  padding: 1.6rem;
  width: 32rem;
  position: absolute;
  top: 130%;
  left: 1%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  z-index: 4;
}

.heading__item {
  display: flex;
  gap: 1.6rem;
}

.checkbox-custom__time,
.checkbox-custom {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-custom-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.1rem solid var(--grey);
  border-radius: 0.4rem;
  @include breakpoint($sm-bp) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.checkbox-custom-label__time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 0.1rem solid var(--grey);
  border-radius: 100%;
  @include breakpoint($sm-bp) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.checkbox-custom-label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  padding-top: 0.4rem;
  @include breakpoint($sm-bp) {
    padding-top: 0rem;
  }
}

.checkbox-custom-label__time {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  @include breakpoint($sm-bp) {
    padding-left: 55px;
  }
}

.checkbox-custom:checked + .checkbox-custom-label::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../images/chek.svg');
  background-size: cover;
  @include breakpoint($sm-bp) {
    width: 1.5rem;
    height: 1.5rem;
    top: 11%;
  }
}

.checkbox-custom__time:checked + .checkbox-custom-label__time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../images/chekbox.svg');
  background-size: cover;
  @include breakpoint($sm-bp) {
    width: 1.5rem;
    height: 1.5rem;
    top: 11%;
  }
}

.heading__bottom {
  padding-top: 1.2rem;
  display: flex;
  gap: 3rem;

  & div:nth-child(1) {
    color: var(--grey);
  }
}

#headingHeadBlog,
#headingSort,
#headingHead,
#headingDoctor {
  display: none;
  &.active {
    display: flex;
  }
}

#sortContainer:hover {
  cursor: pointer;
}

#sortContainer {
  position: relative;
}

.heading__container.heading__container--sort {
  width: 13.2rem;
  left: -225%;
  @include breakpoint($sm-bp) {
    top: 55%;
  }
}

.heading-icon.active {
  transform: rotate(180deg);
  top: 26%;
}

.heading__time {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start
}

.checkbox-custom-label .icon {
  border-radius: 0.4rem;
}

.position {
  display: flex;
  gap: 1.8rem;
  @include breakpoint($sm-bp) {
    gap: 0.8rem;
  }
}

.position::before {
  top: 23%;
}

.heading__person span:first-child {
  font-weight: 700;
}

.heading__person span:last-child {
  color: var(--grey);
}

