.answer h1 {
  text-align: center;
  margin: 8.4rem auto 4rem;
  @include breakpoint($sm-bp) {
    margin: 4rem auto 6.3rem;
  }
}

.answer__container {
  padding-top: 5.6rem;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  margin-bottom: 6.6rem;
  @include breakpoint($sm-bp) {
    padding-top: 4rem;
    margin-bottom: 7.2rem;
    gap: 2rem;
  }
}

.answer__title h3 {
  max-width: 86%;
  @include breakpoint($sm-bp) {
    max-width: 100%;
  }
}
.answer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  width: 85rem;
  background: var(--white);
  border-radius: 1.2rem;
  border: 0.1rem solid var(--color1);
  @include breakpoint($sm-bp) {
    padding: 1.2rem;
    width: 100%;
  }
}

.answer__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include breakpoint($sm-bp) {
    flex-direction: column;
    gap: 1.2rem;
  }
}

.answer__icon {
  width: 8rem;
  height: 8rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.views__container {
  display: flex;
  color: var(--grey);
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

div .view-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.answer__inf {
  color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @include breakpoint($sm-bp) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.answer__person {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.answer__person-name {
  font-weight: 700;
  & span {
    color: var(--color2);
  }
}

.answer__person-profession {
  color: var(--grey);
}

.answer__person-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.answer__filter {
  display: flex;
  gap: 4remF;
}