.reviews__page {
  padding: 8rem 0 10.4rem;
  display: flex;
  flex-direction: column;
  @include breakpoint($xl-bp) {
    padding: 4rem 0 7.2rem;
  }
  @include breakpoint($xl-bp) {
    padding: 2rem 0 7.2rem;
  }
}

.reviews__text {
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: var(--white);
  padding: 2rem;
  @include breakpoint($xl-bp) {
    padding: 1.2rem;
    width: 100%;
  }
  @include breakpoint($sm-bp) {
    order: 2;
  }
}

.reviews__text-title {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.reviews__button {
  margin-top: 2.8rem;
  padding-left: 11rem;
  padding-right: 11rem;
  align-self: center;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.reviews__record {
  margin-top: 10.4rem;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint($xl-bp) {
    margin-top: 5rem;
  }
}

.reviews__heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
    grid-template-rows: 14rem auto;
    gap: 5.6rem;
  }
}

.review__title {
  background-image: url("../images/logo-reviews.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 47rem;
  text-align: right;
  padding-top: 3rem;
  @include breakpoint($xl-bp) {
    background-size: 40rem;
  }
  @include breakpoint($sm-bp) {
    background-size: 31rem;
    order: 1;
    padding-top: 0;
    text-align: center;
  }
}

.reviews__page .reviews__record {
  @include breakpoint($sm-bp) {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}