<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>

  <!-- Header -->
  {{> header }}

  <!-- Main content -->
  <main>
    {{> body }}
  </main>
  {{> menu }}
  <!-- Footer -->
  {{> footer }}

  <!-- popup -->
  {{> popup }}



  <!-- lib JS -->
  <!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> -->
  <script src="./assets/js/lib/swiper.min.js"></script>
  <script src="./assets/js/lib/fancybox.min.js"></script>

  <!--my JS -->

  <script src="./assets/js/swiper.js"></script>
  <script src="./assets/js/index.js"></script>

</body>

</html>