<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>

  <!-- Header -->
  {{> header }}

  <!-- Main content -->
  <main>
    {{> body }}
  </main>
  {{> menu }}
  <!-- Footer -->
  {{> footer }}

  <!-- popup -->
  {{> success-modal }}
  {{> record-form }}



  <!-- lib JS -->
   <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="./assets/js/lib/swiper.min.js"></script>
  <script src="./assets/js/lib/fancybox.min.js"></script>

  <!--my JS -->
  <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
  <script src="assets/js/select.js"></script>
  <script src="assets/js/select-implantation.js"></script>
  <script src="./assets/js/swiper.js"></script>
  <script src="./assets/js/animation.js"></script>
  <script src="./assets/js/index.js"></script>

</body>

</html>